<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<style>
#extra {
  margin-left: 0;
}
</style>
</head>
<body>
<div id="extra" th:fragment="references">
<ul>
	<li class="sub-heading">Links</li>
	<li><a href="https://www.netflix.com/browse">Netflix</a></li>
	<li><a href="https://www.youtube.com">YouTube</a></li>
	<li><a href="https://drive.google.com/drive/my-drive">Google Drive</a></li>
	<li><a href="https://translate.google.co.kr">Google Translate</a></li>
	<li><a href="https://mail.google.com">Gmail</a></li>
	<li><a href="https://www.google.co.kr/maps">Google Maps</a></li>
</ul>
</div>
</body>
</html>