<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<style>
#extra {
  margin-left: 0;
}
</style>
</head>
<body>
<div id="extra" th:fragment="references">
<ul>
	<li class="sub-heading">링크</li>
	<li><a href="https://www.netflix.com/browse">넷플릭스</a></li>
	<li><a href="https://www.youtube.com">유튜브</a></li>
	<li><a href="https://drive.google.com/drive/my-drive">구글 드라이브</a></li>
	<li><a href="https://translate.google.co.kr">구글 번역</a></li>
	<li><a href="https://mail.google.com">G메일</a></li>
	<li><a href="https://www.google.co.kr/maps">구글 지도</a></li>
	<li><a href="https://www.weather.go.kr">날씨</a></li>
	<li><a href="https://vclock.kr/time/">온라인 시계</a></li>
	<li><a href="https://nara-speller.co.kr/speller/">맞춤법/문법 검사기</a></li>
</ul>
</div>
</body>
</html>