<!DOCTYPE html>
<!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */-->
<html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{::script}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{::footer})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${#locale.language == 'ko'} ? _ : 'Get Started'">게시판 시작하기</title>
<meta name="Keywords" th:replace="${#locale.language == 'ko'} ? ~{articles/03 :: meta[@name='Keywords']} : ~{articles/03_en :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="${#locale.language == 'ko'} ? ~{articles/03 :: meta[@name='Description']} : ~{articles/03_en :: meta[@name='Description']}" />
<link rel="stylesheet" media="all" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" />
<link rel="stylesheet" media="all" th:href="@{/static/css/prettify.css}" />
<script th:src="@{/static/js/prettify.js}"></script>
<script th:src="@{/static/js/run_prettify.js}"></script>
</head>
<body>

<nav th:replace="~{commons/mainmenu :: mainmenu}"></nav>

<div id="i18n">
  <a th:href="@{/ko/board/get-started}">korean</a>
  <a th:href="@{/en/board/get-started}">english</a>
</div>

<section th:replace="${#locale.language == 'ko'} ? ~{articles/03 :: #board-get-started} : ~{articles/03_en :: #board-get-started}"></section>

<aside th:replace="${#locale.language == 'ko'} ? ~{board/menu :: index} : ~{board/menu_en :: index}">"></aside>

<footer th:replace="${#locale.language == 'ko'} ? ~{board/refs :: references} : ~{board/refs_en :: references}"></footer>

</body>
</html>
