<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<style>
#extra {
  margin-left: 0;
}
</style>
</head>
<body>
<div id="extra" th:fragment="references">
<ul>
	<li class="sub-heading">참고자료</li>
	<li><a href="#" th:href="@{https://spring.io/projects/spring-security}">스프링 시큐리티</a></li>
	<li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.springframework.security/spring-security-bom}">spring-security-bom</a></li>
	<li><a href="#" th:href="@{https://mvnrepository.com/artifact/com.oracle.database.jdbc/ojdbc6}">ojdbc6</a></li>
	<li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.apache.commons/commons-dbcp2}">commons-dbcp2</a></li>
	<li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity6}">thymeleaf-extras-springsecurity6</a></li>
	<li><a href="#" th:href="@{https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-databind}">jackson databind</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/articles/springsecurity.html}">타임리프 시큐리티 통합 기본</a></li>
	<li><a href="#" th:href="@{https://docs.spring.io/spring-security/reference/servlet/appendix/database-schema.html}">DB 스키마</a></li>
	<li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.mybatis/mybatis}">mybatis</a></li>
	<li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.mybatis/mybatis-spring}">mybatis-spring</a></li>
	<li><a href="#" th:href="@{https://mybatis.org/spring/ko/index.html}">마이바티스-스프링</a></li>
	<li><a href="#" th:href="@{https://mybatis.org/spring/ko/mappers.html}">매퍼 주입</a></li>
	<li><a href="#" th:href="@{https://docs.spring.io/spring-security/reference/servlet/authorization/method-security.html#using_method_parameters}">매개변수 사용</a></li>
	<li><a href="#" th:href="@{https://api.jquery.com/nth-child-selector/}">n번째 자식 선택자</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#javascript-inlining}">자바스크립트 인라이닝</a></li>
	<li><a href="#" th:href="@{https://docs.spring.io/spring-framework/reference/web/webmvc/mvc-servlet/container-config.html}">서블릿 설정</a></li>
	<li><a href="#" th:href="@{https://github.com/thymeleaf/thymeleaf-extras-springsecurity}">타임리프 시큐리티 통합 모듈</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#keeping-iteration-status}">반복자 상태 변수</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#local-variables}">지역 변수</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#expression-utility-objects}">표현식 유틸리티 객체</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#calendars}">달력</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#thymeleaf-parser-level-comment-blocks}">파서 수준 주석</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#comparators-and-equality}">비교와 동등</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#conditional-evaluation}">조건부 평가</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#synthetic-thblock-tag}">타임리프 th:block</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#web-context-namespaces-for-requestsession-attributes-etc.}">요청과세션 속성을 위한 웹 컨텍스트 네임스페이스</a></li>
	<li><a href="#" th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf#link-urls}">링크</a></li>
	<li><a href="#" th:href="@{https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html}">SimpleDateFormat</a></li>
	<li><a href="#" th:href="@{https://mybatis.org/mybatis-3/sqlmap-xml.html}">매퍼 XML 파일</a></li>
</ul>
</div>
</body>
</html>