<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" href="../../../static/css/en.css" />
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<style>
#extra {
  margin-left: 0;
}
</style>
</head>
<body>
<div id="extra" th:fragment="references">
<ul>
  <li class="sub-heading">References</li>
  <li><a href="#" th:href="@{https://spring.io/projects/spring-security}">Spring Security</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.springframework.security/spring-security-bom}">spring-security-bom</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/com.oracle.database.jdbc/ojdbc6}">ojdbc6</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.apache.commons/commons-dbcp2}">commons-dbcp2</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity6}">thymeleaf-extras-springsecurity6</a></li>
  <li><a href="#" th:href="@{https://www.thymeleaf.org/doc/articles/springsecurity.html}">Thymeleaf + Spring Security integration</a></li>
  <li><a href="#" th:href="@{https://docs.spring.io/spring-security/reference/servlet/appendix/database-schema.html}">Security Database Schema</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.mybatis/mybatis}">mybatis</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.mybatis/mybatis-spring}">mybatis-spring</a></li>
  <li><a href="#" th:href="@{https://mybatis.org/spring/index.html}">MyBatis-Spring</a></li>
  <li><a href="#" th:href="@{https://mybatis.org/spring/mappers.html}">Injecting Mappers</a></li>
  <li><a href="#" th:href="@{https://docs.spring.io/spring-security/reference/servlet/authorization/method-security.html#using_method_parameters}">Using Method Parameters</a></li>  
</ul>
</div>
</body>
</html>