<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<style>
#extra {
  margin-left: 0;
}
</style>
</head>
<body>
<div id="extra" th:fragment="references">
<ul>
  <li class="sub-heading">참고자료</li>
  <li><a href="#" th:href="@{https://spring.io/projects/spring-security}">스프링 시큐리티</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.springframework.security/spring-security-bom}">spring-security-bom</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/com.oracle.database.jdbc/ojdbc6}">ojdbc6</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.apache.commons/commons-dbcp2}">commons-dbcp2</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity6}">thymeleaf-extras-springsecurity6</a></li>
  <li><a href="#" th:href="@{https://www.thymeleaf.org/doc/articles/springsecurity.html}">타임리프+시큐리티 통합</a></li>
  <li><a href="#" th:href="@{https://docs.spring.io/spring-security/reference/servlet/appendix/database-schema.html}">DB 스키마</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.mybatis/mybatis}">mybatis</a></li>
  <li><a href="#" th:href="@{https://mvnrepository.com/artifact/org.mybatis/mybatis-spring}">mybatis-spring</a></li>
  <li><a href="#" th:href="@{https://mybatis.org/spring/ko/index.html}">마이바티스-스프링</a></li>
  <li><a href="#" th:href="@{https://mybatis.org/spring/ko/mappers.html}">매퍼 주입</a></li>
  <li><a href="#" th:href="@{https://docs.spring.io/spring-security/reference/servlet/authorization/method-security.html#using_method_parameters}">매개변수 사용</a></li>  
</ul>
</div>
</body>
</html>