<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{user.list}">회원명부</title>
<meta name="Keywords" content="회원명부" th:content="#{user.list}" />
<meta name="Description" content="회원명부" th:content="#{user.list}" />
<link rel="stylesheet" media="screen" href="../../../../static/css/screen.css" />
<script>
$(document).ready(function() {
	$('.del-user-link').click(function(e) {
		e.preventDefault();
		var check = confirm('정말로 삭제할까요?");
		if (check) {
			var username = this.title;
			$('#delUserForm input[nmae*=username]').val(username);
			$('#delUserform').submit();
		}
	});
});
</script>
</head>

<body>
<article>
<h3 th:text="#{user.list}">회원명부</h3>
<table class="bbs-table">
<tr>
	<th>No</th>
	<th>사용자명</th>
	<th>Role</th>
	<th></th>
</tr>
<tr>
	<td>3</td>
	<td>rachel</td>
	<td>[ROLE_USER],[ROLE_ADMIN]</td>
	<td>
		<a href="#" th:href="@{/admin/editAccount(username=${usename},page=${page},search=${search})}"><button type="button" th:text="#{edit.account}">계정 수정</button></a>
		<a href="#" title="hannah" class="del-user-link"><button type="button" th:text="#{del}">삭제</button></a>
	</td>
</tr>
<tr>
	<td>2</td>
	<td>monica</td>
	<td>[ROLE_USER]</td>
	<td>
		<a href="#" th:href="@{/admin/editAccount(username=${usename},page=${page},search=${search})}"><button type="button" th:text="#{edit.account}">계정 수정</button></a>
		<a href="#" title="hannah" class="del-user-link"><button type="button" th:text="#{del}">삭제</button></a>
	</td>
</tr>
<tr>
	<td>1</td>
	<td>phoebe</td>
	<td>[ROLE_USER]</td>
	<td>
		<a href="#" th:href="@{/admin/editAccount(username=${usename},page=${page},search=${search})}"><button type="button" th:text="#{edit.account}">계정 수정</button></a>
		<a href="#" title="hannah" class="del-user-link"><button type="button" th:text="#{del}">삭제</button></a>
	</td>
</tr>
</table>
<div id="paging">
	<a href="#" th:text="#{page.first}">[처음]</a>
	<a href="#" th:text="#{page.prev}">[이전]</a>
	<a href="#">[1]</a>
	<a href="#">[2]</a>
	<a href="#">[3]</a>
	<a href="#">[4]</a>
	<a href="#">[5]</a>
	<a href="#" th:text="#{page.next}">[다음]</a>
	<a href="#" th:text="#{page.last}">[마지막]</a>
</div>
<form>
	<input type="hidden" name="page" />
	<input type="text" name="search" />
	<input type="submit" value="검색" th:value="#{search}" />
</form>

<table class="bbs-table">
<tr>
	<td>Username</td>
	<td><input type="text" name="username" /></td>
</tr>
<tr>
	<td>Email</td>
	<td><input type="text" name="email" /></td>
</tr>
<tr>
	<td>Enabled</td>
	<td>
		<input type="radio" name="enabled" value="true" />true
		<input type="radio" name="enabled" value="false" />false
		<input type="submit" value="전송" />
	</td>
</tr>
</table>

<table>
<tr>
	<td>New Password</td>
	<td>
		<input type="password" name="password" />
		<input type="submit" value="전송" />
	</td>
</tr>
</table>

<table>
<tr>
	<td>Role</td>
	<td>
		ROLE_USER
		<a href="#" title="" class="del-auth-link">x</a>
	</td>
</tr>
<tr>
	<td>Add</td>
	<td>
		<select name="role">
			<option value="ROLE_USER" selected="selected">ROLE_USER</option>
			<option value="ROLE_ADMIN">ROLE_ADMIN</option>
		</select>
		<input type="submit" value="전송" />
	</td>
</tr>
</table>

</table>
<form id="delUserForm" th:action="@{/admin/delUser}" th:method="post">
    <input type="hidden" name="page" />
    <input type="hidden" name="search" />
    <input type="hidden" name="username" />
</form>
</article>

</body>
</html>