<!DOCTYPE html>
<!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */-->
<html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${#locale.language == 'ko'} ? _ : 'Thymeleaf Index'">타임리프 목차</title>
<meta name="Keywords" th:content="${#locale.language == 'ko'} ? '타임리프 목차' : 'Thymeleaf Index'" />
<meta name="Description" th:content="${#locale.language == 'ko'} ? '타임리프 목차' : 'Thymeleaf Index'" />
<link rel="stylesheet" media="all" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" />
</head>
<body>

<nav th:replace="~{commons/mainmenu :: mainmenu}"></nav>

<div id="i18n">
</div>

<section th:replace="~{articles/thymeleaf/01 :: #get-started}"></section>

<aside th:replace="~{thymeleaf/menu :: index}"></aside>

</body>
</html>