<!DOCTYPE html>
<!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */-->
<html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{::script}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{::footer})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${#locale.language == 'ko'} ? _ : 'Get Started'">메시지소스</title>
<meta name="Keywords" th:replace="${#locale.language == 'ko'} ? ~{articles/thymeleaf/01 :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="${#locale.language == 'ko'} ? ~{articles/thymeleaf/01 :: meta[@name='Description']}" />
<link rel="stylesheet" media="all" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" />
<link rel="stylesheet" media="all" th:href="@{/static/css/prettify.css}" />
<script th:src="@{/static/js/prettify.js}"></script>
<script th:src="@{/static/js/run_prettify.js}"></script>
</head>
<body>

<nav th:replace="~{commons/mainmenu :: mainmenu}"></nav>

<div id="i18n">
  <a th:href="@{/ko/thymeleaf/messagesource}">korean</a>
  <a th:href="@{/en/thymeleaf/messagesource}">english</a>
</div>

<section th:replace="~{articles/thymeleaf/01 :: #messagesource}"></section>

<aside th:replace="~{thymeleaf/menu :: index}"></aside>

<footer th:replace="~{thymeleaf/refs :: references}"></footer>

</body>
</html>
