<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<style>
#sidebar {
  margin-left: 0;
|
</style>
</head>
<body>
<th:block th:fragment="index" id="sidebar">
<h1>Home</h1>
<ul>
  <li class="sub-heading" th:text="${lang == null} ? #{samples} : (${lang == 'ko'} ? _ : 'samples')">예제 소스</li>
  <li><a href="https://github.com/kimjonghoon/java-web-programming-2-samples" th:text="${lang == null} ? #{jwp2samples} : (${lang == 'ko'} ? _ : 'Web Programming 2')">자바 웹 프로그래밍 2</a></li>
</ul>
</th:block>
</body>
</html>