<!DOCTYPE html>
<html th:replace="~{layout/baseLayoutFile :: layout(~{::title}, ~{::meta}, ~{::link}, ~{::script}, ~{::section}, ~{::aside})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:replace="~{articles/login :: title}">Login</title>
<meta name="Keywords" th:replace="~{articles/login :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="~{articles/login :: meta[@name='Description']}" />
<link rel="stylesheet" th:href="${#locale.country == 'KR'} ? '/static/css/korean.css' : '/static/css/english.css'" type="text/css" />
<script th:src="@{/static/js/jquery.js}"></script>
</head>
<body>

<section th:replace="~{articles/login :: article}"></section>

<aside th:replace="${#locale.country == 'KR'} ? ~{users/menu :: index} : ~{users/menu_en :: index}"></aside>

</body>
</html>