<!DOCTYPE html>
<html th:replace="~{layout/baseLayoutFile :: layout(~{::title}, ~{::meta}, ~{::link}, ~{::script}, ~{::section}, ~{}, ~{::aside})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:replace="${#locale.country == 'KR'} ? ~{articles/login :: title} : ~{articles/login_en :: title}">Java Install</title>
<meta name="Keywords" th:replace="${#locale.country == 'KR'} ? ~{articles/login :: meta[@name='Keywords']} : ~{articles/login_en :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="${#locale.country == 'KR'} ? ~{articles/login :: meta[@name='Description']} : ~{articles/login_en :: meta[@name='Description']}" />
<link rel="stylesheet" th:href="${#locale.country == 'KR'} ? '/static/css/korean.css' : '/static/css/english.css'" type="text/css" />
<script src="/static/js/jquery-3.7.1.min.js"></script>

</head>
<body>

<section th:replace="${#locale.country == 'KR'} ? ~{articles/login :: article} : ~{articles/login_en :: article}"></section>

<aside th:replace="${#locale.country == 'KR'} ? ~{users/menu :: index} : ~{users/menu_en :: index}"></aside>

</body>
</html>