<!DOCTYPE html>
<!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */-->
<html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{::script}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{::footer})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${#locale.language == 'ko'} ? _ : 'Logout'">로그아웃</title>
<meta name="Keywords" th:replace="${#locale.language == 'ko'} ? ~{articles/02 :: meta[@name='Keywords']} : ~{articles/02_en :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="${#locale.language == 'ko'} ? ~{articles/02 :: meta[@name='Description']} : ~{articles/02_en :: meta[@name='Description']}" />
<link rel="stylesheet" media="all" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" />
<link rel="stylesheet" media="all" th:href="@{/static/css/prettify.css}" />
<script th:src="@{/static/js/prettify.js}"></script>
<script th:src="@{/static/js/run_prettify.js}"></script>
</head>
<body>

<nav th:replace="~{commons/mainmenu :: mainmenu}"></nav>

<div id="i18n">
  <a th:href="@{/ko/spring-security/logout}">korean</a>
  <a th:href="@{/en/spring-security/logout}">english</a>
</div>

<section th:replace="${#locale.language == 'ko'} ? ~{articles/02 :: #spring-security-logout} : ~{articles/02_en :: #spring-security-logout}"></section>

<aside th:replace="${#locale.language == 'ko'} ? ~{spring-security/menu :: index} : ~{spring-security/menu_en :: index}">"></aside>

<footer th:replace="${#locale.language == 'ko'} ? ~{spring-security/refs :: references} : ~{spring-security/refs_en :: references}"></footer>

</body>
</html>
