<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.java_school.mapper.BlogMapper">
    <select id="selectAll" resultType="net.java_school.blog.Blog">
        SELECT blog.slug,title,regdate
        FROM post,blog
        WHERE post.postno = blog.postno
        order by post.postno desc
    </select>	
	<select id="selectOne" parameterType="string" resultType="net.java_school.blog.Blog">
		SELECT post.postno,slug,description,title,content,regdate
		FROM post,blog
		WHERE post.postno = blog.postno and slug = #{slug}
	</select>
	<update id="updateSlug" parameterType="net.java_school.blog.Blog">
		update blog set slug = #{slug} where postno = ${postNo}
	</update>
	<update id="updateDescription" parameterType="net.java_school.blog.Blog">
		update blog set description = #{description} where postno = ${postNo}
	</update>	
	<insert id="insertBlog" parameterType="net.java_school.blog.Blog">
		insert into blog values (#{postNo}, #{slug}, #{description})
	</insert>
	<delete id="deleteBlog" parameterType="int">
		delete from blog where postno = ${postNo}
	</delete>
</mapper>