<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.java_school.mapper.BoardMapper">
    <select id="selectOneBoard" resultType="net.java_school.board.Board">
        SELECT * FROM board WHERE boardcd = #{boardCd}
    </select>

    <select id="selectAllBoard" resultType="net.java_school.board.Board">
        SELECT * FROM board order by boardcd
    </select>

    <update id="updateBoard" parameterType="net.java_school.board.Board">
        UPDATE board SET boardnm = #{boardNm}, boardnm_ko = #{boardNm_ko}
        WHERE boardcd = #{boardCd}
    </update>

    <insert id="insertBoard" parameterType="net.java_school.board.Board">
        INSERT INTO board VALUES (#{boardCd}, #{boardNm}, #{boardNm_ko})
    </insert>

    <update id="update" parameterType="net.java_school.board.Article">
        UPDATE article 
        SET title = #{title}, content = #{content} 
        WHERE articleno = #{articleNo}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM article WHERE articleno = #{articleNo}
    </delete>

    <select id="selectCountOfViews" parameterType="int" resultType="int">
        SELECT count(*) FROM views 
        WHERE articleno = #{articleNo}
    </select>

    <select id="selectNextOne" parameterType="hashmap" resultType="net.java_school.board.Article">
        SELECT articleno, title
        FROM
            (SELECT rownum r,a.*
            FROM
                (SELECT articleno, title 
                FROM article 
                WHERE 
                    boardCd = #{boardCd} 
                    AND articleno &gt; #{articleNo}
                <if test="search != null and search != ''">
                    AND (title LIKE '%${search}%' 	OR 	DBMS_LOB.INSTR(content, #{search}) > 0)
                </if> 
                ORDER BY articleno) 
            a)
        WHERE r = 1
    </select>
	
    <select id="selectPrevOne" parameterType="hashmap" resultType="net.java_school.board.Article">
        SELECT articleno, title
        FROM
            (SELECT rownum r,a.*
            FROM
                (SELECT articleno, title 
                FROM article 
                WHERE 
                    boardCd = #{boardCd} 
                    AND articleno &lt; #{articleNo}
                <if test="search != null and search != ''">
                    AND (title LIKE '%${search}%' OR DBMS_LOB.INSTR(content, #{search}) > 0)
                </if> 
                ORDER BY articleno DESC)
                a)
        WHERE r = 1
    </select>
	
    <select id="selectOne" parameterType="int" resultType="net.java_school.board.Article">
        SELECT articleno,title,content,username,regdate
		FROM 
            article
        WHERE 
            articleno = #{articleNo}
    </select>
	
    <insert id="insertOneViews" parameterType="hashmap">
        INSERT INTO views values (seq_views.nextval, #{articleNo}, #{ip}, #{yearMonthDayHour})
    </insert>
	
    <insert id="insert" parameterType="net.java_school.board.Article" useGeneratedKeys="true">
        <selectKey keyProperty="articleNo" resultType="int" order="BEFORE">
            SELECT seq_article.nextval FROM dual
        </selectKey>
        INSERT INTO article (articleno, boardcd, title, content, username, regdate)
        VALUES (#{articleNo}, #{boardCd}, #{title}, #{content}, #{username}, sysdate)
    </insert>
	
    <select id="selectCountOfArticles" parameterType="hashmap" resultType="int">
        SELECT count(*) FROM article 
        WHERE boardcd = #{boardCd}
            <if test="search != null and search != ''">
            AND (title LIKE '%${search}%' OR DBMS_LOB.INSTR(content, #{search}) &gt; 0)
            </if>
    </select>
	
    <select id="selectListOfArticles" parameterType="hashmap" resultType="net.java_school.board.Article">
        SELECT articleno, title, regdate, hit
        FROM (
            SELECT rownum R,A.* 
                FROM (
                    SELECT a.articleno, a.title, a.regdate, count(distinct(v.no)) hit 
                    FROM article a left join views v on a.articleno = v.articleno
                    WHERE a.boardcd = #{boardCd}
                        <if test="search != null and search != ''">
                        AND (title LIKE '%${search}%' OR DBMS_LOB.INSTR(content, #{search}) &gt; 0)
                        </if>
                    GROUP BY a.articleno, title, a.regdate
                    ORDER BY articleno DESC
                ) A
        )
        WHERE R BETWEEN #{start} AND #{end}
    </select>	
</mapper>
