<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.java_school.mapper.BoardMapper">
    <select id="selectAllBoards" resultType="net.java_school.board.Board">
        SELECT * FROM board order by boardcd
    </select>
    <select id="selectOneBoard" resultType="net.java_school.board.Board">
        SELECT * FROM board WHERE boardcd = #{boardCd}
    </select>
    <select id="selectCountOfPosts" parameterType="hashmap" resultType="int">
        SELECT count(*) FROM post 
        WHERE boardcd = #{boardCd}
            <if test="search != null and search != ''">
            AND (title LIKE '%${search}%' OR content LIKE '%${search}%')
            </if>
    </select>
    <select id="selectListOfPosts" parameterType="hashmap" resultType="net.java_school.board.Post">
        SELECT postno, title, regdate, hit
        FROM (
            SELECT rownum R,A.* 
                FROM (
                    SELECT postno, title, regdate, hit 
                    FROM post
                    WHERE boardcd = #{boardCd}
                        <if test="search != null and search != ''">
                        AND (title LIKE '%${search}%' OR content LIKE '%${search}%')
                        </if>
                    ORDER BY postno DESC
                ) A
        )
        WHERE R BETWEEN #{start} AND #{end}
    </select>	
    <update id="updateBoard" parameterType="net.java_school.board.Board">
        UPDATE board SET boardnm = #{boardNm}, boardnm_ko = #{boardNm_ko}
        WHERE boardcd = #{boardCd}
    </update>
	<insert id="insertPost" parameterType="net.java_school.board.Post" useGeneratedKeys="true">
		<selectKey keyProperty="postNo" resultType="int" order="BEFORE">
		SELECT post_seq.nextval FROM dual
		</selectKey>
		INSERT INTO post (postno, boardcd, title, content, username, hit, regdate)
		VALUES (#{postNo}, #{boardCd}, #{title}, #{content}, #{username}, 0, sysdate)
	</insert>
    <update id="updateHit" parameterType="int">
        UPDATE post SET hit = hit + 1 WHERE postno = #{postNo}
    </update>
	<select id="selectOne" parameterType="int" resultType="net.java_school.board.Post">
		SELECT postno,title,content,username,hit,regdate
		FROM 
			post
		WHERE 
			postno = #{postNo}
	</select>
	<select id="selectNextOne" parameterType="hashmap" resultType="Integer">
		SELECT postno
		FROM
			(SELECT rownum r,a.*
			FROM
				(SELECT postno
				FROM post
				WHERE
					boardCd = #{boardCd}
					AND postno &gt; #{postNo}
				<if test="search != null and search != ''">
					AND (title LIKE '%${search}%' OR content LIKE '%${search}%')
				</if>
				ORDER BY postno)
			a)
		WHERE r = 1
	</select>
	<select id="selectPrevOne" parameterType="hashmap" resultType="Integer">
		SELECT postno
		FROM
			(SELECT rownum r,a.*
			FROM
				(SELECT postno
				FROM post
				WHERE
					boardCd = #{boardCd}
					AND postno &lt; #{postNo}
				<if test="search != null and search != ''">
					AND (title LIKE '%${search}%' OR content LIKE '%${search}%')
				</if>
				ORDER BY postno DESC)
			a)
		WHERE r = 1
	</select>	
	<update id="updatePost" parameterType="net.java_school.board.Post">
		UPDATE post
		SET title = #{title}, content = #{content} 
		WHERE postno = #{postNo}
	</update>
	<delete id="deletePost" parameterType="int">
		DELETE FROM post WHERE postno = #{postNo}
	</delete>

<!--
    <insert id="insertBoard" parameterType="net.java_school.board.Board">
        INSERT INTO board VALUES (#{boardCd}, #{boardNm}, #{boardNm_ko})
    </insert>
-->	
</mapper>