<!DOCTYPE html>
<html th:replace="~{layout/baseLayoutFile :: layout(~{::title}, ~{::meta}, ~{::link}, ~{::script}, ~{::section}, ~{::aside})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:replace="${#locale.country == 'KR'} ? ~{articles/Features :: title} : ~{articles/Features_en :: title}">Java Install</title>
<meta name="Keywords" th:replace="${#locale.country == 'KR'} ? ~{articles/Features :: meta[@name='Keywords']} : ~{articles/Features_en :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="${#locale.country == 'KR'} ? ~{articles/Features :: meta[@name='Description']} : ~{articles/Features_en :: meta[@name='Description']}" />
<link rel="stylesheet" th:href="${#locale.country == 'KR'} ? '/static/css/korean.css' : '/static/css/english.css'" type="text/css" />
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/indent-select-code.js}"></script>
</head>
<body>

<section th:replace="${#locale.country == 'KR'} ? ~{articles/Features :: article} : ~{articles/Features_en :: article}"></section>

<aside th:replace="${#locale.country == 'KR'} ? ~{java/menu :: index} : ~{java/menu_en :: index}"></aside>

</body>
</html>