<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Spring Security</title>
<meta name="Keywords" content="Thymeleaf,jwp2samples,thymeleaf-spring6,jetty plugin,Java-based Configuration,Prototype,Thymeleaf base layout,css positioning,tomcat,how to deploy app to tomcat,ROOT.xml,mvn clean compile war:inplace,mvn clean jetty:run,i18n,homepage,MessageSource,Bean Validation,Sign Up,Login,Change Password," />
<meta name="Description" content="This article covers examples for Thymeleaf, Spring, Spring Security, Mybatis Spring, i18n, MessageSource and Bean Validation." />
<link rel="stylesheet" media="all" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<link rel="stylesheet" media="all" href="../../../static/css/prettify.css" />
<script src="../../../static/js/run_prettify.js"></script>
</head>

<body>

<article id="spring-security-get-started">

<h1>Spring Security</h1>

<ul>
	<li>Spring Security Web</li>
	<li>Spring Security Taglibs</li>
	<li>Spring Security Config</li>
	<li>Spring JDBC</li>
	<li>Oracle 11g XE JDBC Driver</li>
	<li>DBCP2</li>
	<li>Thymeleaf Extras SpringSecurity6</li>
</ul>

<pre class="prettyprint">&lt;properties&gt;
  &lt;project.build.sourceEncoding&gt;UTF-8&lt;/project.build.sourceEncoding&gt;
  &lt;maven.compiler.source&gt;17&lt;/maven.compiler.source&gt;
  &lt;maven.compiler.target&gt;17&lt;/maven.compiler.target&gt;
  &lt;spring.version&gt;6.1.14&lt;/spring.version&gt;
  <strong>&lt;spring.security.version&gt;6.3.4&lt;/spring.security.version&gt;</strong>
&lt;/properties&gt;
</pre>

<pre class="prettyprint">&lt;dependencyManagement&gt;
  &lt;dependencies&gt;
    &lt;!-- https://mvnrepository.com/artifact/org.springframework/spring-framework-bom --&gt;
    &lt;dependency&gt;
      &lt;groupId&gt;org.springframework&lt;/groupId&gt;
      &lt;artifactId&gt;spring-framework-bom&lt;/artifactId&gt;
      &lt;version&gt;${spring.version}&lt;/version&gt;
      &lt;type&gt;pom&lt;/type&gt;
      &lt;scope&gt;import&lt;/scope&gt;
    &lt;/dependency&gt;
    <strong>&lt;!-- https://mvnrepository.com/artifact/org.springframework.security/spring-security-bom --&gt;</strong>
    <strong>&lt;dependency&gt;</strong>
      <strong>&lt;groupId&gt;org.springframework.security&lt;/groupId&gt;</strong>
      <strong>&lt;artifactId&gt;spring-security-bom&lt;/artifactId&gt;</strong>
      <strong>&lt;version&gt;${spring.security.version}&lt;/version&gt;</strong>
      <strong>&lt;type&gt;pom&lt;/type&gt;</strong>
      <strong>&lt;scope&gt;import&lt;/scope&gt;</strong>
    <strong>&lt;/dependency&gt;</strong>
  <strong>&lt;/dependencies&gt;</strong>
<strong>&lt;/dependencyManagement&gt;</strong>
</pre>

<pre class="prettyprint">&lt;dependency&gt;
  &lt;groupId&gt;org.springframework.security&lt;/groupId&gt;
  &lt;artifactId&gt;spring-security-web&lt;/artifactId&gt;
&lt;/dependency&gt;
&lt;dependency&gt;
  &lt;groupId&gt;org.springframework.security&lt;/groupId&gt;
  &lt;artifactId&gt;spring-security-taglibs&lt;/artifactId&gt;
&lt;/dependency&gt;
&lt;dependency&gt;
  &lt;groupId&gt;org.springframework.security&lt;/groupId&gt;
  &lt;artifactId&gt;spring-security-config&lt;/artifactId&gt;
&lt;/dependency&gt;
&lt;dependency&gt;
  &lt;groupId&gt;org.springframework&lt;/groupId&gt;
  &lt;artifactId&gt;spring-jdbc&lt;/artifactId&gt;
&lt;/dependency&gt;
&lt;!-- https://mvnrepository.com/artifact/com.oracle.database.jdbc/ojdbc6 --&gt;
&lt;dependency&gt;
  &lt;groupId&gt;com.oracle.database.jdbc&lt;/groupId&gt;
  &lt;artifactId&gt;ojdbc6&lt;/artifactId&gt;
  &lt;version&gt;11.2.0.4&lt;/version&gt;
&lt;/dependency&gt;
&lt;!-- https://mvnrepository.com/artifact/org.apache.commons/commons-dbcp2 --&gt;
&lt;dependency&gt;
  &lt;groupId&gt;org.apache.commons&lt;/groupId&gt;
  &lt;artifactId&gt;commons-dbcp2&lt;/artifactId&gt;
  &lt;version&gt;2.11.0&lt;/version&gt;
&lt;/dependency&gt;
&lt;!-- https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity6 --&gt;
&lt;dependency&gt;
  &lt;groupId&gt;org.thymeleaf.extras&lt;/groupId&gt;
  &lt;artifactId&gt;thymeleaf-extras-springsecurity6&lt;/artifactId&gt;
  &lt;version&gt;3.1.2.RELEASE&lt;/version&gt;
&lt;/dependency&gt;
</pre>

</article>

<article id="spring-security-java-based-config">

<h2>Java-based Configuration</h2>

<div class="filename">SecurityConfig.java</div>
<pre class="prettyprint">package net.java_school.config;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.security.config.annotation.web.builders.HttpSecurity;
import org.springframework.security.config.annotation.web.configuration.EnableWebSecurity;
import org.springframework.security.core.userdetails.User;
import org.springframework.security.core.userdetails.UserDetails;
import org.springframework.security.core.userdetails.UserDetailsService;
import org.springframework.security.provisioning.InMemoryUserDetailsManager;
import org.springframework.security.web.SecurityFilterChain;
import static org.springframework.security.config.Customizer.withDefaults;

@Configuration
@EnableWebSecurity
public class SecurityConfig {
  @Bean
  public SecurityFilterChain securityFilterChain(HttpSecurity http) throws Exception {
    http.authorizeHttpRequests((authorize) -&gt; authorize.anyRequest().authenticated())
        .httpBasic(withDefaults())
        .formLogin(withDefaults());
    return http.build();
  }
  @Bean
  public UserDetailsService userDetailsService() {
    UserDetails user = User.withDefaultPasswordEncoder()
        .username("user")
        .password("password")
        .roles("USER")
        .build();
    return new InMemoryUserDetailsManager(user);
  }
}
</pre>

<div class="filename">SecurityWebApplicationInitializer.java</div>
<pre class="prettyprint">package net.java_school.config;

import org.springframework.security.web.context.AbstractSecurityWebApplicationInitializer;

public class SecurityWebApplicationInitializer extends AbstractSecurityWebApplicationInitializer {
}
</pre>

<div class="filename">SecurityWebApplicationInitializer.java</div>
<pre class="prettyprint">package net.java_school.config;

import org.springframework.security.web.context.AbstractSecurityWebApplicationInitializer;

public class SecurityWebApplicationInitializer extends AbstractSecurityWebApplicationInitializer {
  <strong>@Override</strong>
  <strong>protected boolean enableHttpSessionEventPublisher() {</strong>
    <strong>return true;</strong>
  <strong>}</strong>
}
</pre>

<pre class="prettyprint">&lt;listener&gt;
  &lt;listener-class&gt;org.springframework.security.web.session.HttpSessionEventPublisher&lt;/listener-class&gt;
&lt;/listener&gt;
</pre>

<p>
<img src="../../../static/images/spring-security-default-login.png" th:src="@{/static/images/spring-security-default-login.png}" alt="스프링 시큐리티 디폴트 로그인 화면" />
</p>

<p>
<img src="../../../static/images/type-user-password-in-default-login.png" th:src="@{/static/images/type-user-password-in-default-login.png}" class="browser-output" alt="스프링 시큐리티 디폴트 로그인 화면에 user/password 입력 후 홈페이지로 이동 확인" />
</p>

</article>

<article id="jdbc-authentication">

<h2>JDBC Authentication</h2>

<div class="filename">Default User Schema</div>
<pre class="prettyprint">create table users(
  username varchar_ignorecase(50) not null primary key,
  password varchar_ignorecase(50) not null,
  enabled boolean not null
);
create table authorities (
  username varchar_ignorecase(50) not null,
  authority varchar_ignorecase(50) not null,
  constraint fk_authorities_users foreign key(username) references users(username)
);
create unique index ix_auth_username on authorities (username,authority);
</pre>

<div class="filename">Oracle User Schema</div>
<pre class="prettyprint">SET TERMOUT OFF
SET ECHO OFF
GRANT CONNECT,RESOURCE,UNLIMITED TABLESPACE TO web IDENTIFIED BY programming2;
CONNECT web/programming2
CREATE TABLE USERS (
  USERNAME NVARCHAR2(128) PRIMARY KEY,
  PASSWORD NVARCHAR2(128) NOT NULL,
  ENABLED NUMBER(1) DEFAULT 1 CHECK (ENABLED IN (0,1))
);
CREATE TABLE AUTHORITIES (
  USERNAME NVARCHAR2(128) NOT NULL,
  AUTHORITY NVARCHAR2(128) NOT NULL
);
ALTER TABLE AUTHORITIES ADD CONSTRAINT AUTHORITIES_UNIQUE UNIQUE (USERNAME, AUTHORITY);
ALTER TABLE AUTHORITIES ADD CONSTRAINT AUTHORITIES_FK1 FOREIGN KEY (USERNAME) REFERENCES USERS (USERNAME) ENABLE;
SET TERMOUT ON
SET ECHO ON
</pre>

<pre class="commandLine">C:\Users&gt; <strong>sqlplus</strong>

Copyright (c) 1982, 2011, Oracle.  All rights reserved.
Enter user-name: <strong>SYSTEM</strong>
Enter password: 

Connected to:
Oracle Database 11g Express Edition Release 11.2.0.2.0 - 64bit Production

SQL&gt; <strong>@C:\Users\web.sql</strong>

SQL&gt;
</pre>

<pre class="prettyprint">@Bean
public SpringSecurityDialect springSecurityDialect() {
  return new SpringSecurityDialect();
}
@Bean(destroyMethod = "close")
public DataSource dataSource() {
  BasicDataSource dataSource = new BasicDataSource();
  dataSource.setDriverClassName("oracle.jdbc.driver.OracleDriver");
  dataSource.setUrl("jdbc:oracle:thin:@localhost:1521:XE");
  dataSource.setUsername("<strong>web</strong>");
  dataSource.setPassword("<strong>programming2</strong>");
  dataSource.setMaxTotal(100);
  dataSource.setPoolPreparedStatements(true);
  dataSource.setDefaultAutoCommit(true);
  dataSource.setValidationQuery("SELECT 1 FROM DUAL");
  return dataSource;
}
</pre>

<pre class="prettyprint">@Bean
public SpringTemplateEngine templateEngine() {
  SpringTemplateEngine templateEngine = new SpringTemplateEngine();
  templateEngine.setTemplateResolver(templateResolver());
  templateEngine.setEnableSpringELCompiler(true);
  templateEngine.setTemplateEngineMessageSource(messageSource());
  <strong>templateEngine.addDialect(springSecurityDialect());</strong>
  return templateEngine;
}
</pre>

<pre class="prettyprint">import org.thymeleaf.extras.springsecurity6.dialect.SpringSecurityDialect;
import javax.sql.DataSource;
import org.apache.commons.dbcp2.BasicDataSource;
</pre>

<div class="filename">SecurityConfig.java</div>
<pre class="prettyprint">package net.java_school.config;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.http.HttpMethod;
import org.springframework.security.config.annotation.authentication.builders.AuthenticationManagerBuilder;
import org.springframework.security.config.annotation.web.builders.HttpSecurity;
import org.springframework.security.config.annotation.web.configuration.EnableWebSecurity;
import org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder;
import org.springframework.security.crypto.password.PasswordEncoder;
import org.springframework.security.web.SecurityFilterChain;

import static org.springframework.security.config.Customizer.withDefaults;

import javax.sql.DataSource;

import org.springframework.beans.factory.annotation.Autowired;


@Configuration
@EnableWebSecurity
public class SecurityConfig {
  @Autowired
  private DataSource dataSource;

  @Bean
  public PasswordEncoder passwordEncoder() {
    return new BCryptPasswordEncoder();
  }

  @Autowired
  public void configureGlobal(AuthenticationManagerBuilder builder) throws Exception {
    builder.jdbcAuthentication().dataSource(dataSource).passwordEncoder(this.passwordEncoder());
  }

  @Bean
  public SecurityFilterChain securityFilterChain(HttpSecurity http) throws Exception {
    http
      .authorizeHttpRequests((authorize) -&gt; authorize
          .requestMatchers(HttpMethod.GET, "/static/**").permitAll()
          .requestMatchers(HttpMethod.GET, "/users/signUp").permitAll()
          .requestMatchers(HttpMethod.POST,"/users/signUp").permitAll()
          .requestMatchers(HttpMethod.GET, "/users/welcome").permitAll()
          .anyRequest().authenticated()
      )
      .formLogin(form -&gt; form.loginPage("/users/login").permitAll().loginProcessingUrl("/login"))
      .httpBasic(withDefaults());
    return http.build();
  }
}
</pre>

<pre class="prettyprint">@Override
protected Class&lt;?&gt;[] getServletConfigClasses() {
  return new Class[] { <strong>SecurityConfig.class</strong>, MvcWebConfig.class };
}
</pre>

</article>

<article id="custom-login">

<h2>Custom Login</h2>

<div class="filename">messages_ko.properties</div>
<pre class="prettyprint">login=로그인
sign.up=회원가입
samples=예제 소스
jwp2samples=자바 웹 프로그래밍 2
username=사용자명
password=비밀번호
submit=전송
username.validation.error=사용자 계정명은 4자 이상이어야 합니다.
password.validation.error=비밀번호는 4자 이상이어야 합니다.
user=회원
<strong>login.error=사용자명과 패스워드가 유효하지 않습니다.</strong>
</pre>

<div class="filename">messages_en.properties</div>
<pre class="prettyprint">login=Login
sign.up=Sign Up
samples=samples
jwp2samples=Web Programming 2
username=Username
password=Password
submit=Submit
username.validation.error=Please enter an account name that is at least 4 characters long.
password.validation.error=Please enter a password that is at least 4 characters long.
user=User
<strong>login.error=Your username and password are invalid.</strong>
</pre>

<div class="filename">/WEB-INF/templates/articles/login.html</div>
<pre class="prettyprint">&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title th:text="#{login}"&gt;로그인&lt;/title&gt;
&lt;meta name="Keywords" th:content="#{login}" /&gt;
&lt;meta name="Description" th:content="#{login}" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;article&gt;
&lt;h2 th:text="#{login}"&gt;로그인&lt;/h2&gt;
&lt;div th:if="${param.error }" th:text="#{login.error}"&gt;사용자명과 패스워드가 유효하지 않습니다.&lt;/div&gt;
&lt;form th:action="@{/login }" th:method="post"&gt;
&lt;table&gt;
&lt;tr&gt;
  &lt;td style="width: 200px;" th:text="#{username}"&gt;이름&lt;/td&gt;
  &lt;td style="width: 390px"&gt;&lt;input type="text" name="username" placeholder="Username" /&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
  &lt;td th:text="#{password}"&gt;패스워드&lt;/td&gt;
  &lt;td&gt;&lt;input type="password" name="password" placeholder="Password" /&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;div&gt;
  &lt;input type="submit" value="전송" th:value="#{submit}" /&gt;
  &lt;a href="#" th:href="@{/users/signUp}"&gt;&lt;button type="button" th:text="#{sign.up}"&gt;회원가입&lt;/button&gt;&lt;/a&gt;
&lt;/div&gt;
&lt;/form&gt;
&lt;/article&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<div class="filename">/WEB-INF/templates/users/login.html</div>
<pre class="prettyprint">&lt;!DOCTYPE html&gt;
&lt;!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */--&gt;
&lt;html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{})}" xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title th:replace="~{articles/login :: title}"&gt;로그인&lt;/title&gt;
&lt;meta name="Keywords" th:replace="~{articles/login :: meta[@name='Keywords']}" /&gt;
&lt;meta name="Description" th:replace="~{articles/login :: meta[@name='Description']}" /&gt;
&lt;link rel="stylesheet" media="all" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" /&gt;
&lt;link rel="stylesheet" media="all" th:href="@{/static/css/validation.css}" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;nav th:replace="~{commons/mainmenu :: mainmenu}"&gt;&lt;/nav&gt;
&lt;div id="i18n"&gt;&lt;/div&gt;
&lt;section th:replace="~{articles/login :: article}"&gt;&lt;/section&gt;
&lt;aside th:replace="~{users/menu :: index}"&gt;&lt;/aside&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<pre class="prettyprint">@GetMapping("login")
public String login() {
  return "users/login";
}
</pre>

<p>
<img src="../../../static/images/custom-login-page-test.png" th:src="@{/static/images/custom-login-page-test.png}" class="browser-output" alt="사용자 정의 로그인 페이지 테스트" />
</p>

</article>

<article id="sign-up">

<h2>Sign Up</h2>

<pre class="prettyprint">&lt;!-- https://mvnrepository.com/artifact/org.mybatis/mybatis --&gt;
&lt;dependency&gt;
  &lt;groupId&gt;org.mybatis&lt;/groupId&gt;
  &lt;artifactId&gt;mybatis&lt;/artifactId&gt;
  &lt;version&gt;3.5.16&lt;/version&gt;
&lt;/dependency&gt;	
&lt;!-- https://mvnrepository.com/artifact/org.mybatis/mybatis-spring --&gt;
&lt;dependency&gt;
  &lt;groupId&gt;org.mybatis&lt;/groupId&gt;
  &lt;artifactId&gt;mybatis-spring&lt;/artifactId&gt;
  &lt;version&gt;3.0.4&lt;/version&gt;
&lt;/dependency&gt;
</pre>

<div class="filename">User.java</div>
<pre class="prettyprint">package net.java_school.user;

import java.util.List;
import jakarta.validation.constraints.NotNull;
import jakarta.validation.constraints.Size;

public class User {
  @NotNull
  @Size(min=4, message="{username.validation.error}")
  private String username;

  @NotNull
  @Size(min=4, message="{password.validation.error}")
  private String password;
	
  private Integer enabled;

  private List&lt;String&gt; authorities;

  public User() {}
  
  public User(String username, String password, Integer enabled, List authorities) {
    this.username = username;
    this.password = password;
    this.enabled = enabled;
    this.authorities = authorities;
  }
  public String getUsername() {
    return username;
  }
  public void setUsername(String username) {
    this.username = username;
  }
  public String getPassword() {
    return password;
  }
  public void setPassword(String password) {
    this.password = password;
  }
  public Integer getEnabled() {
    return enabled;
  }
  public void setEnabled(Integer enabled) {
    this.enabled = enabled;
  }
  public List&lt;String&gt; getAuthorities() {
    return authorities;
  }
  public void setAuthorities(List&lt;String&gt; authorities) {
    this.authorities = authorities;
  }
}
</pre>

<pre class="commandLine">mkdir -p src/main/java/net/java_school/mapper
</pre>

<div class="filename">UserMapper.java</div>
<pre class="prettyprint">package net.java_school.mapper;

import net.java_school.user.User;
import org.apache.ibatis.annotations.Param;

public interface UserMapper {
  public int insert(User user);
  public int insertAuthority(@Param("username") String username, @Param("authority") String authority);
}
</pre>

<div class="commandLine">mkdir -p src/main/resources/net/java_school/mapper</div>

<div class="filename">UserMapper.xml</div>
<pre class="prettyprint">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"&gt;
&lt;mapper namespace="net.java_school.mapper.UserMapper"&gt;
  &lt;insert id="insert" parameterType="net.java_school.user.User"&gt;
    INSERT INTO users (username, password) VALUES (#{username}, #{password})
  &lt;/insert&gt;
  &lt;insert id="insertAuthority"&gt;
    INSERT INTO authorities VALUES (#{username}, #{authority})
  &lt;/insert&gt;
&lt;/mapper&gt;
</pre>

<div class="filename">UserService.java</div>
<pre class="prettyprint">package net.java_school.user;

public interface UserService {
  public int addUser(User user);
  public int addAuthority(String username, String authority);
}
</pre>

<div class="filename">UserServiceImpl.java</div>
<pre class="prettyprint">package net.java_school.user;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import net.java_school.mapper.UserMapper;
import org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder;

@Service
public class UserServiceImpl implements UserService {
  @Autowired
  private UserMapper userMapper;
  
  @Autowired
  private BCryptPasswordEncoder bcryptPasswordEncoder;
  
  @Override
  public int addUser(User user) {
    user.setPassword(this.bcryptPasswordEncoder.encode(user.getPassword()));
	return userMapper.insert(user);
  }
  @Override
  public int addAuthority(String username, String authority) {
    return userMapper.insertAuthority(username, authority);
  }
}
</pre>

<pre class="prettyprint">@Configuration
@EnableWebMvc
<strong>@MapperScan("net.java_school.mapper")</strong>
@ComponentScan("net.java_school.controller, <strong>net.java_school.user</strong>")
</pre>

<p>
import org.mybatis.spring.annotation.MapperScan;
</p>

<pre class="prettyprint">@Bean
public SqlSessionFactory sqlSessionFactory() throws Exception {
  SqlSessionFactoryBean sessionBean = new sqlSessionFactoryBean();
  sessionBean.setDataSource(dataSource());
  return sessionBean.getObject();
}
</pre>

<p>
import org.apache.ibatis.session.SqlSessionFactory;<br />
import org.mybatis.spring.SqlSessionFactoryBean;<br />
</p>

<pre class="prettyprint">package net.java_school.controller;

<strong>import org.springframework.beans.factory.annotation.Autowired;</strong>
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import net.java_school.user.User;
<strong>import net.java_school.user.UserService;</strong>
import jakarta.validation.Valid;

@Controller
@RequestMapping("users")
public class UsersController {

  <strong>@Autowired</strong>
  <strong>private UserService userService;</strong>
	
  @GetMapping("login")
  public String login() {
    return "users/login";
  }
  @GetMapping("signUp")
  public String signUp(Model model) {
    model.addAttribute("user", new User());
    return "users/signUp";
  }
  @PostMapping("signUp")
  public String signUp(@Valid User user, BindingResult bindingResult) {
    if (bindingResult.hasErrors()) {
      return "users/signUp";
    }
    <strong>String authority = "ROLE_USER";</strong>
    <strong>userService.addUser(user);</strong>
    <strong>userService.addAuthority(user.getUsername(), authority);</strong>
    <strong>return "redirect:/users/welcome";</strong>
  }
	
  <strong>@GetMapping("welcome")</strong>
  <strong>public String welcome() {</strong>
    <strong>return "users/welcome";</strong>
  <strong>}</strong>
}
</pre>

<div class="filename">messages_ko.properties</div>
<pre class="prettyprint">login=로그인
sign.up=회원가입
samples=예제 소스
jwp2samples=자바 웹 프로그래밍 2
username=사용자명
password=비밀번호
submit=전송
username.validation.error=사용자 계정명은 4자 이상이어야 합니다.
password.validation.error=비밀번호는 4자 이상이어야 합니다.
user=회원
login.error=사용자명과 패스워드가 유효하지 않습니다.
<strong>welcome=회원가입을 환영합니다.</strong>
</pre>

<div class="filename">messages_en.properties</div>
<pre class="prettyprint">login=Login
sign.up=Sign Up
samples=samples
jwp2samples=Web Programming 2
username=Username
password=Password
submit=Submit
username.validation.error=Please enter an account name that is at least 4 characters long.
password.validation.error=Please enter a password that is at least 4 characters long.
user=User
login.error=Your username and password are invalid.
<strong>welcome=Thank you for signing up.</strong>
</pre>

<ul>
	<li>articles/welcome.html</li>
	<li>users/welcome.html</li>
</ul>

<div class="filename">articles/welcome.html</div>
<pre class="prettyprint">&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title th:text="#{welcome}"&gt;회원가입을 환영합니다&lt;/title&gt;
&lt;meta name="Keywords" th:content="#{welcome}" /&gt;
&lt;meta name="Description" th:content="#{welcome}" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;article&gt;
&lt;h3 th:text="#{welcome}"&gt;회원가입을 환영합니다.&lt;/h3&gt;
&lt;/article&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<div class="filename">users/welcome.html</div>
<pre class="prettyprint">&lt;!DOCTYPE html&gt;
&lt;!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */--&gt;
&lt;html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{})}" xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title th:replace="~{articles/welcome :: title}"&gt;회원가입을 환영합니다.&lt;/title&gt;
&lt;meta name="Keywords" th:replace="~{articles/welcome :: meta[@name='Keywords']}" /&gt;
&lt;meta name="Description" th:replace="~{articles/welcome :: meta[@name='Description']}" /&gt;
&lt;link rel="stylesheet" media="all" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;nav th:replace="~{commons/mainmenu :: mainmenu}"&gt;&lt;/nav&gt;
&lt;div id="i18n"&gt;&lt;/div&gt;
&lt;section th:replace="~{articles/welcome :: article}"&gt;&lt;/section&gt;
&lt;aside th:replace="~{users/menu :: index}"&gt;&lt;/aside&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<p>
<img src="../../../static/images/signup-test-1.png" th:src="@{/static/images/signup-test-1.png}" class="browser-output" alt="회원가입 테스트" />
</p>

</article>

<article id="spring-security-logout">

<h2>Logout</h2>

<div class="filename">messages_en.properties</div>
<pre class="prettyprint">logout=logout
edit.my.account=Edit Account
</pre>

<div class="filename">messages_ko.properties</div>
<pre class="prettyprint">logout=로그아웃
edit.my.account=내 정보 수정
</pre>

<pre class="prettyprint">&lt;th:block sec:authorize="isAnonymous()"&gt;
  &lt;a href="#" th:href="@{/users/login}"&gt;&lt;button type="button" th:text="${lang == null} ? #{login} : (${lang == 'ko'} ? _ : 'Login')"&gt;로그인&lt;/button&gt;&lt;/a&gt;
  &lt;a href="#" th:href="@{/users/signUp}"&gt;&lt;button type="button" th:text="${lang == null} ? #{sign.up} : (${lang == 'ko'} ? _ : 'Sing Up')"&gt;회원가입&lt;/button&gt;&lt;/a&gt;
&lt;/th:block&gt;
&lt;th:block sec:authorize="isAuthenticated()"&gt;
  &lt;a href="#" <strong>id="logout"</strong>&gt;&lt;button type="button" th:text="${lang == null} ? #{logout} : (${lang == 'ko'} ? _ : 'Logout')"&gt;로그아웃&lt;/button&gt;&lt;/a&gt;
  &lt;a href="#" th:href="@{/users/editAccount}"&gt;&lt;button type="button" th:text="${lang == null} ? #{edit.my.account} : (${lang == 'ko'} ? _ : 'Edit Account')"&gt;내 정보 수정&lt;/button&gt;&lt;/a&gt;
&lt;/th:block&gt;
&lt;form id="logoutForm" th:action="@{/logout}" th:method="post" style="display:none"&gt;&lt;/form&gt;
&lt;script&gt;
$(document).ready(function() {
  $('#logout').click(function (e) {
    e.preventDefault();
    $('#logoutForm').submit();
  });
});
&lt;/script&gt;
</pre>

<pre class="prettyprint">http
  .authorizeHttpRequests((authorize) -&gt; authorize
    .requestMatchers("/my/success/endpoint").permitAll()
      // ...
  )
  .logout((logout) -&gt; logout.logoutSuccessUrl("/my/success/endpoint"))
</pre>

<pre class="prettyprint">http
  .authorizeHttpRequests((authorize) -&gt; authorize
    .requestMatchers(HttpMethod.GET, "/users/welcome").permitAll()
    .requestMatchers(HttpMethod.POST, "/users/signUp").permitAll()
    .requestMatchers(HttpMethod.GET, "/users/signUp").permitAll()
    .requestMatchers(HttpMethod.GET, "/en/**").permitAll()
    .requestMatchers(HttpMethod.GET, "/ko/**").permitAll()
    <strong>.requestMatchers(HttpMethod.GET, "/").permitAll()</strong>
    .requestMatchers(HttpMethod.GET, "/static/**").permitAll()
    .requestMatchers(HttpMethod.GET, "/favicon.ico").permitAll()
    .anyRequest().authenticated()
  )
  .formLogin(form -&gt; form.loginPage("/users/login").permitAll().loginProcessingUrl("/login"))
  <strong>.logout((logout) -> logout.logoutSuccessUrl("/"))</strong>
  .httpBasic(withDefaults());
return http.build();  
</pre>
</article>

<article id="edit-account">

<h2>Edit My Account</h2>
			
<ul>
	<li>articles/editAccount.html</li>
	<li>users/editAccount.html</li>
	<li>users/menu.html</li>
</ul>

<div class="filename">articles/editAccount.html</div>
<pre class="prettyprint">&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title th:text="#{edit.my.account}"&gt;내 정보 수정&lt;/title&gt;
&lt;meta name="Keywords" content="내 정보 수정" th:content="#{edit.my.account}" /&gt;
&lt;meta name="Description" content="내 정보 수정" th:content="#{edit.my.account}" /&gt;
&lt;link rel="stylesheet" media="screen" href="../../../static/css/screen.css" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;article&gt;
&lt;h3 th:text="#{edit.my.account}"&gt;내 정보 수정&lt;/h3&gt;
&lt;p&gt;
&lt;a href="#" th:href="@{/users/editAccount}"&gt;&lt;button type="button" th:text="#{change.password}"&gt;비밀번호 변경&lt;/button&gt;&lt;/a&gt;
&lt;/p&gt;
&lt;/article&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<div class="filename">users/editAccount.html</div>
<pre class="prettyprint">&lt;!DOCTYPE html&gt;
&lt;!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */--&gt;
&lt;html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{})}" xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title th:replace="~{articles/editAccount :: title}"&gt;내 정보 수정&lt;/title&gt;
&lt;meta name="Keywords" th:replace="~{articles/editAccount :: meta[@name='Keywords']}" /&gt;
&lt;meta name="Description" th:replace="~{articles/editAccount :: meta[@name='Description']}" /&gt;
&lt;link rel="stylesheet" media="all" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;nav th:replace="~{commons/mainmenu :: mainmenu}"&gt;&lt;/nav&gt;
&lt;div id="i18n"&gt;&lt;/div&gt;
&lt;section th:replace="~{articles/editAccount :: article}"&gt;&lt;/section&gt;
&lt;aside th:replace="~{users/menu :: index}"&gt;&lt;/aside&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<div class="filename">users/menu.html</div>
<pre class="prettyprint">&lt;html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"&gt;
&lt;head&gt;
&lt;link rel="stylesheet" media="all" href="../../../static/css/screen.css" /&gt;
&lt;style&gt;
#sidebar {
  margin-left: 0;
|
&lt;/style&gt;
&lt;body&gt;
&lt;th:block th:fragment="index" id="sidebar"&gt;
&lt;h1 th:text="#{user}"&gt;회원&lt;/h1&gt;
&lt;ul sec:authorize="isAnonymous()"&gt;
  &lt;li&gt;&lt;a href="#" th:href="@{/users/login}" th:text="#{login}"&gt;로그인&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" th:href="@{/users/signUp}" th:text="#{sign.up}"&gt;회원가입&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;ul sec:authorize="isAuthenticated()"&gt;
  &lt;li&gt;&lt;a href="#" th:href="@{/users/editAccount}" th:text="#{edit.my.account}"&gt;내 정보 수정&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#" th:href="@{/users/changePassword}" th:text="#{change.password}"&gt;비밀번호 변경&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/th:block&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<div class="filename">UsersController.java</div>
<pre class="prettyprint">@GetMapping("editAccount")
public String editAccount() {
  return "users/editAccount";
}
</pre>

<p>
<img src="../../../static/images/editAccount-test-1.png" th:src="@{/static/images/editAccount-test-1.png}" class="browser-output" alt="내 정보 수정 테스트" />
</p>

</article>

<article id="change-password">

<h2>Change Password</h2>

<ul>
	<li>articles/changePassword.html</li>
	<li>users/changePassword.html</li>
</ul>

<ul>
	<li>UserMapper.xml</li>
	<li>UserMapper.java</li>
	<li>UserService.java</li>
	<li>UserServiceImpl.java</li>
	<li>UsersController.java</li>
</ul>

<div class="filename">articles/changePassword.html</div>
<pre class="prettyprint">&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title th:text="#{change.password}"&gt;비밀번호 변경&lt;/title&gt;
&lt;meta name="Keywords" content="비밀번호 변경" th:content="#{change.password}" /&gt;
&lt;meta name="Description" content="비밀번호 변경" th:content="#{change.password}" /&gt;
&lt;link rel="stylesheet" media="screen" href="../../../static/css/screen.css" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;article&gt;
&lt;h3 th:text="#{change.password}"&gt;비밀번호 변경&lt;/h3&gt;
&lt;form id="changePasswordForm" th:action="@{/users/changePassword}" th:method="post"&gt;
&lt;table&gt;
&lt;tr&gt;
  &lt;td th:text="#{current.password}"&gt;현재 비밀번호&lt;/td&gt;
  &lt;td&gt;&lt;input type="text" name="currentPassword" placeholder="Current Password" /&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
  &lt;td th:text="#{new.password}"&gt;새 패스워드&lt;/td&gt;
  &lt;td&gt;&lt;input type="password" name="newPassword" placeholder="New Password" /&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;div&gt;
  &lt;input type="submit" th:value="#{submit}" value="전송" /&gt;
&lt;/div&gt;
&lt;/form&gt;
&lt;/article&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<div class="filename">messages_ko.properties</div>
<pre class="prettyprint">current.password=현재 비밀번호
new.password=새 비밀번호
</pre>

<div class="filename">messages_ko.properties</div>
<pre class="prettyprint">current.password=Current Password
new.password=New Password
</pre>

<div class="filename">users/changePassword.html</div>
<pre class="prettyprint">&lt;!DOCTYPE html&gt;
&lt;!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */--&gt;
&lt;html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{})}" xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title th:replace="~{articles/changePassword :: title}"&gt;비밀번호 변경&lt;/title&gt;
&lt;meta name="Keywords" th:replace="~{articles/changePassword :: meta[@name='Keywords']}" /&gt;
&lt;meta name="Description" th:replace="~{articles/changePassword :: meta[@name='Description']}" /&gt;
&lt;link rel="stylesheet" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;nav th:replace="~{commons/mainmenu :: mainmenu}"&gt;&lt;/nav&gt;
&lt;div id="i18n"&gt;&lt;/div&gt;
&lt;section th:replace="~{articles/changePassword :: article}"&gt;&lt;/section&gt;
&lt;aside th:replace="~{users/menu :: index}"&gt;&lt;/aside&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<div class="filename">UsersController.java</div>
<pre class="prettyprint">@GetMapping("changePassword")
public String changePassword() {
  return "users/changePassword";
}
</pre>

<p>
<img src="../../../static/images/changePassword-test-1.png" th:src="@{/static/images/changePassword-test-1.png}" class="browser-output" alt="비밀번호 변경 화면 테스트" />
</p>

<ol>
	<li>UserMapper.xml</li>
	<li>UserMapper.java</li>
	<li>UserService.java</li>
	<li>UserServiceImpl.java</li>
	<li>UsersController.java</li>
</ol>

<div class="filename">UserMapper.xml</div>
<pre class="prettyprint">&lt;update id="updatePassword"&gt;
UPDATE users SET password=#{newPassword} WHERE username=#{username}
&lt;/update&gt;
&lt;select id="selectPassword"&gt;
SELECT password FROM users WHERE username=#{username}
&lt;/select&gt;
</pre>

<div class="filename">UserMapper.java</div>
<pre class="prettyprint">import org.apache.ibatis.annotations.Param;

public int updatePassword(@Param("newPassword") String newPassword, @Param("username") String username);
public String selectPassword(@Param("username") String username);
</pre>

<div class="filename">UserService.java</div>
<pre class="prettyprint">import org.springframework.security.access.prepost.PreAuthorize;

@PreAuthorize("hasAnyRole('ADMIN','USER')")
public int changePassword(String currentPassword, String newPassword, String username);
@PreAuthorize("hasAnyRole('ADMIN','USER')")
public String getPassword(String username);
</pre>

<div class="filename">UserServiceImpl.java</div>
<pre class="prettyprint">@Override
public int changePassword(String currentPassword, String newPassword, String username) {
  String dbPassword = this.getPassword(username);
  boolean check = this.bcryptPasswordEncoder.matches(currentPassword, dbPassword);
  if (check == false) throw new AccessDeniedException("The password is incorrect!");
  newPassword = this.bcryptPasswordEncoder.encode(newPassword);
  return userMapper.updatePassword(newPassword, username);
}
@Override
public String getPassword(String username) {
  return userMapper.selectPassword(username);
}
</pre>

<div class="filename">messages_en.properties</div>
<pre class="prettyprint">change.password.done=Your password has been changed.</pre>

<div class="filename">messages_ko.properties</div>
<pre class="prettyprint">change.password.done=비밀번호가 변경되었습니다.</pre>

<div class="filename">UsersController.java</div>
<pre class="prettyprint">@PostMapping("changePassword")
public String changePassword(@RequestParam("currentPassword") String currentPassword, @RequestParam("newPassword") String newPassword, Principal principal) {
  String username = principal.getName();
  userService.changePassword(currentPassword, newPassword, username);
  return "redirect:/users/changePassword?change=done";
}
</pre>

<div class="filename">articles/changePassword.html</div>
<pre class="prettyprint">&lt;div th:if="${param.change}" th:text="#{change.password.done}"&gt;비밀번호가 변경되었습니다.&lt;/div&gt;
&lt;form id="changePasswordForm" th:action="@{/users/changePassword}" th:method="post"&gt;
</pre>

<pre class="prettyprint">@PreAuthorize("hasAnyRole('ADMIN','USER')")
public int changePassword(String currentPassword, String newPassword, String username);
</pre>

<h4>Method Security using method parameters</h4>

<pre class="prettyprint">@PreAuthorize("hasRole('ADMIN') or <strong>#username == principal.username</strong>")
public String getPassword(<strong>@P("username")</strong> String username);
</pre>

<pre class="prettyprint no-border">import org.springframework.security.core.parameters.P;</pre>

</article>

</body>
</html>