<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>내용보기</title>
<meta name="Keywords" content="View details" />
<meta name="Description" content="View details" />
<link rel="stylesheet" media="screen" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
  width: 777px;
  margin: 0 auto;
}
#paging a {
  color: #555;
  text-decoration: none;
}
#paging a:hover {
  color: #555;
  text-decoration: underline;
}
</style>
<script src="../../../static/js/jquery.js"></script>
</head>
<body>
<article>
<script th:inline="javascript">
$(document).ready(function() {
	//[IMG],[CODE],[VID],[TXT]를 HTML 엘리먼트로 바꿈
	$('#post-content').html(function(){
		return $(this).html().replace(/\[IMG\]/g,'<div class="images">')
							.replace(/\[:IMG\]/g,'</div>')
							.replace(/\[CODE\]/g,'<pre class="prettyprint">')
							.replace(/\[:CODE\]/g,'</pre>')
							.replace(/\[VID\]/g,'<div class="videos" style="float: left;margin-right: 1em;">')
							.replace(/\[:VID\]/g,'</div>')
							.replace(/\[TXT\]/g,'<div class="text">')
							.replace(/\[:TXT\]/g,'</div>');
	});
	//이미지
	if ($('#post-content .images').length) {
		$('#post-content .images').each(function(idx,element) {
			const str = $(element).html();
			const lines = str.split(/\n\r?/);
			$.each(lines, function(index, line) {
				if ($.trim(line) === '') {
					return true;
				}
				let imgTag = $('<img/>').attr('src',line).attr('alt','img ' + (idx+1) + '' + (index+1));
				imgTag.css({'width':'100%','height': 'auto','display': 'block'});
				$(element).append(imgTag);
			});
			$(element).contents().filter(function() {
				return this.nodeType === 3;
			}).remove();
		});
	}
	$('#post-content > .images').click(function(event) {
		toggleFullScreen(event.target);
	});
	//글
	if ($('#post-content .text').length) {
		$('#post-content .text').html(function() {
			return $(this).html().trim().replace(/\&lt;/g,"<").replace(/\&gt;/g,">").replace(/\n\r?/g, "<br />");
		});
		const keywordsArr = $('.text > em').map(function() {
			return $(this).text();
		}).get();
		if (keywordsArr) {
			const keywords = keywordsArr.join(',');
			$("meta[name='Keywords']").attr("content", keywords);
	        //console.log("Keywords:", $("meta[name='Keywords']").attr("content"));
		}
	}
	//동영상
	if ($('#post-content .videos').length) {
		$('#post-content .videos').html(function() {
			return $(this).html().replace(/\&lt;/g,"<").replace(/\&gt;/g,">");
		});
	}
	//동영상 너비 조정
	if ($('#post-content iframe').length) {
		//const width = $('#post-content').width();
		const width = 700;
		$('#post-content iframe').each(function(index,element) {
			let originWidth = $(element).width();
			let originHeight = $(element).height();
			let height = originHeight * width / originWidth;
			$(element).css({'width':width,'height':height,'allow':'fullscreen'})
		});
	}
	$('#change-slug-btn').click(function(){
		let slug = $('#changeBlogForm input[name*=slug]').val();
		slug = slug.trim();
		if(!slug) return;
		const url = $('#changeBlogForm').attr('action');
		const data = {
			"slug": slug,
		};
		const jsonString = JSON.stringify(data);
		const method = "PATCH";
		$.ajax({
			url: url,
			type: method,
			data: jsonString,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function() {
				console.log('change slug success!');
				$('#changeBlogForm input[name*=slug]').val('');
			},
			error: function(xhr,status,error) {
				console.log('error!');
				console.log(xhr.statusText);
			}
		});
	});
	$('#change-description-btn').click(function(){
		let description = $('#changeBlogForm input[name*=description]').val();
		description = description.trim();
		if(!description) return;
		const url = $('#changeBlogForm').attr('action');
		const data = {
			"description": description,
		};
		const jsonString = JSON.stringify(data);
		const method = "PATCH";
		$.ajax({
			url: url,
			type: method,
			data: jsonString,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function() {
				console.log('change description success!');
				$('#changeBlogForm input[name*=description]').val('');
			},
			error: function(xhr,status,error) {
				console.log('error!');
				console.log(xhr.statusText);
			}
		});
	});	
	$('#deleteBlogForm').submit(function(event){
		event.preventDefault();
		const url = $('#deleteBlogForm').attr('action');
		const method = "DELETE";
		$.ajax({
			url: url,
			type: method,
			contentType: "application/json; charset=utf-8",
			success: function() {
				console.log('removed this from blog!');
			},
			error: function(xhr,status,error) {
				console.log('error!');
				console.log(xhr.statusText);
			}
		});
	});	
	prettyPrint();
	$('pre.prettyprint').html(function() {
		return this.innerHTML.replace(/\t/g,'&nbsp;&nbsp;')
	});
    function toggleFullScreen(elem) {
        elem = elem || document.documentElement;

        // Check if already fullscreen
        if (!document.fullscreenElement &&
            !document.mozFullScreenElement &&
            !document.webkitFullscreenElement &&
            !document.msFullscreenElement) {
            
            // Enter fullscreen
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) { // Firefox
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { // Chrome, Safari, Opera
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { // IE/Edge
                elem.msRequestFullscreen();
            }
        } else {
            // Exit fullscreen
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            }
        }
    }
});
</script>
<div id="content-categories">Blog</div>
<h2 id="post-title" th:text="${blog.title}">자바 웹 프로그래밍 2 최종 소스</h2>
<div id="date-writer-hit" th:with="df=#{detail.date.format}" th:text="'edited ' + ${#calendars.format(blog.regdate,df)}" style="float: right;">edited 24 07 15 오후 8:18:39</div>
<div id="post-content" th:text="${blog.content}">
자바 웹 프로그래밍 2 예제<br />
https://github.com/kimjonghoon/java-web-programming-2-samples
</div>
<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
	<form id="changeBlogForm" th:action="@{/blog/{postNo}(postNo=${blog.postNo})}" style="margin-top: 3em;">
		<label for="slug">Change Slug</label>
		<input type="text" name="slug" id="slug" th:value="${blog.slug}" style="width: 60%;"/>
		<input type="button" id="change-slug-btn" value="전송" th:value="#{submit}"/><br />
		<label for="description">Change Description</label>
		<input type="text" name="description" id="description" th:value="${blog.description}" style="width: 70%;"/>
		<input type="button" id="change-description-btn" value="전송" th:value="#{submit}"/>
	</form>
	<form id="deleteBlogForm" th:action="@{/blog/{postNo}(postNo=${blog.postNo})}">
		<input type="submit" value="블로그에서 이 글을 제거"/>
	</form>
</div>
</article>
</body>
</html>
