<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>내용보기</title>
<meta name="Keywords" content="View details" />
<meta name="Description" content="View details" />
<link rel="stylesheet" media="screen" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
  width: 777px;
  margin: 0 auto;
}
#paging a {
  color: #555;
  text-decoration: none;
}
#paging a:hover {
  color: #555;
  text-decoration: underline;
}
</style>
<script src="../../../static/js/jquery.js"></script>
</head>
<body>
<article>
<script th:inline="javascript">
$(document).ready(function() {
	//동영상 너비 조정
	if ($('#post-content iframe').length) {
		//const width = $('#post-content').width();//1182
		const width = 700;
		$('#post-content iframe').each(function(index,element) {
			let originWidth = $(element).width();
			let originHeight = $(element).height();
			let height = originHeight * width / originWidth;
			$(element).css({'width':width,'height':height,'allow':'fullscreen'})
		});
	}
	if ($('#post-content pre.prettyprint').length) {
		$('#post-content pre.prettyprint').html(function() {
			return $(this).html().replace(/</g,"&lt;").replace(/>/g,"&gt;");
		});
	}
	//글
	if ($('#post-content p').length) {
		$('#post-content p').html(function() {
			return $(this).html().trim().replace(/\n\r?/g, "<br />");
		});
	}
	$('#change-slug-btn').click(function(){
		let slug = $('#changeBlogForm input[name*=slug]').val();
		slug = slug.trim();
		if(!slug) return;
		const url = $('#changeBlogForm').attr('action');
		const data = {
			"slug": slug,
		};
		const jsonString = JSON.stringify(data);
		const method = "PATCH";
		$.ajax({
			url: url,
			type: method,
			data: jsonString,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function() {
				console.log('change slug success!');
				$('#changeBlogForm input[name*=slug]').val('');
			},
			error: function(xhr,status,error) {
				console.log('error!');
				console.log(xhr.statusText);
			}
		});
	});
	$('#change-description-btn').click(function(){
		let description = $('#changeBlogForm input[name*=description]').val();
		description = description.trim();
		if(!description) return;
		const url = $('#changeBlogForm').attr('action');
		const data = {
			"description": description,
		};
		const jsonString = JSON.stringify(data);
		const method = "PATCH";
		$.ajax({
			url: url,
			type: method,
			data: jsonString,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function() {
				console.log('change description success!');
				$('#changeBlogForm input[name*=description]').val('');
			},
			error: function(xhr,status,error) {
				console.log('error!');
				console.log(xhr.statusText);
			}
		});
	});	
	$('#deleteBlogForm').submit(function(event){
		event.preventDefault();
		const url = $('#deleteBlogForm').attr('action');
		const method = "DELETE";
		$.ajax({
			url: url,
			type: method,
			contentType: "application/json; charset=utf-8",
			success: function() {
				console.log('removed this from blog!');
			},
			error: function(xhr,status,error) {
				console.log('error!');
				console.log(xhr.statusText);
			}
		});
	});	

	$('#post-title').children().hide();
	$('#post-title [lang="ko"]').show();
	$('#post-content').children().hide();
	$('#post-content [lang="ko"]').show();

	$('#post-content').html(function() {
				return $(this).html().replace(/\[img\]/g,'<p class="images">')
							.replace(/\[\/img\]/g,'</p>')
							.replace(/\[code\]/g,'<pre class="prettyprint">')
							.replace(/\[\/code\]/g,'</pre>');
	});
	//이미지 태그 생성
	if ($('#post-content .images').length) {
		$('#post-content .images').each(function(idx,element) {
			const str = $(element).html();
			const lines = str.split(/\n\r?/);
			$.each(lines, function(index, line) {
				if ($.trim(line) === '') {
					return true;
				}
				let imgTag = $('<img/>').attr('src',line).attr('alt','img ' + (idx+1) + '' + (index+1));
				imgTag.css({'width':'100px','height': 'auto'});
				$(element).append(imgTag);
			});
			$(element).contents().filter(function() {
				return this.nodeType === 3;
			}).remove();
		});
	}
	$('#post-content img').click(function(event) {
		toggleFullScreen(event.target);
	});

	
	prettyPrint();
	$('pre.prettyprint').html(function() {
		return this.innerHTML.replace(/\t/g,'&nbsp;&nbsp;');
	});
});
function toggleFullScreen(elem) {
	elem = elem || document.documentElement;
	
	// Check if already fullscreen
	if (!document.fullscreenElement &&
		!document.mozFullScreenElement &&
		!document.webkitFullscreenElement &&
		!document.msFullscreenElement) {
		
		// Enter fullscreen
		if (elem.requestFullscreen) {
			elem.requestFullscreen();
		} else if (elem.mozRequestFullScreen) { // Firefox
			elem.mozRequestFullScreen();
		} else if (elem.webkitRequestFullscreen) { // Chrome, Safari, Opera
			elem.webkitRequestFullscreen();
		} else if (elem.msRequestFullscreen) { // IE/Edge
			elem.msRequestFullscreen();
		}
	} else {
		// Exit fullscreen
		if (document.exitFullscreen) {
			document.exitFullscreen();
		} else if (document.mozCancelFullScreen) {
			document.mozCancelFullScreen();
		} else if (document.webkitExitFullscreen) {
			document.webkitExitFullscreen();
		} else if (document.msExitFullscreen) {
			document.msExitFullscreen();
		}
	}
}
</script>
<div id="blog-date" th:text="'edited ' + ${#temporals.format(blog.regdate,'MEDIUM',T(java.util.Locale).KOREA)}">edited 24 07 15 오후 8:18:39</div>
<h2 id="post-title" th:utext="${blog.title}">자바 웹 프로그래밍 2 최종 소스</h2>
<div id="post-content" th:utext="${blog.content}">
자바 웹 프로그래밍 2 예제<br />
https://github.com/kimjonghoon/java-web-programming-2-samples
</div>
<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" style="border: 1px solid grey;font-size: 14px;padding: 0.4em;">
<strong>블로그 관리</strong>
<form id="changeBlogForm" th:action="@{/blog/{postNo}(postNo=${blog.postNo})}" style="clear: both;">
slug는 http://localhost:8080/blog/<strong>install-tomcat</strong>에서 <strong>install-tomcat</strong> 부분이다.<br />
Description은 이 페이지에서 Description 메타 태그의 content 값이다.<br />
	<label for="slug" style="display: inline-block;width: 8em;">Slug 변경</label>
	<input type="text" name="slug" id="slug" th:value="${blog.slug}" style="width: 50%;"/>
	<input type="button" id="change-slug-btn" value="전송" th:value="#{submit}"/><br />
	<label for="description" style="display: inline-block;width: 8em;">Description 변경</label>
	<input type="text" name="description" id="description" th:value="${blog.description}" style="width: 50%;"/>
	<input type="button" id="change-description-btn" value="전송" th:value="#{submit}"/>
</form>
아래 버튼을 사용해도 글 데이터는 삭제되지 않는다. 게시판에서 찾을 수 있고, 다시 블로그에 올릴 수 있다.
<form id="deleteBlogForm" th:action="@{/blog/{postNo}(postNo=${blog.postNo})}">
	<input type="submit" value="블로그에서 이 글을 제거"/>
</form>
</div>
</article>
</body>
</html>
