<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Boards</title>
<meta name="Keywords" content="Boards" />
<meta name="Description" content="Boards" />
<link rel="stylesheet" media="screen" href="../../../static/css/en.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
	width: 830px;
	margin: 0 auto; 
}
</style>
<script src="../../../static/js/jquery.js"></script>
<script>
$(document).ready(function() {
	$('.board-code').click(function(e) {
		e.preventDefault();
		var boardCd = $(this).text();
		$('#editBoardForm input[name*=boardCd]').val(boardCd);
		$('#deleteBoardForm input[name*=boardCd]').val(boardCd);
	});
});	
</script>
</head>
<body>
<article>
<script th:inline="javascript">
var link = /*[[@{/}]]*/'';
</script>
<h3>Boards</h3>
<div style="width: 49%;float: left;">
<table id="list-table" class="bbs-table">
<tr>
	<th style="text-align: left">No</th>
	<th style="text-align: left">Code</th>
	<th style="text-align: left">Name</th>
	<th style="text-align: left">Name_ko</th>
</tr>
<!--/*-->
<tr>
	<td>1</td>
	<td><a href="#" class="board-code">chat</a></td>
	<td>Chat</td>
	<td>자유 토론</td>
</tr>
<tr>
	<td>2</td>
	<td><a href="#" class="board-code">notice</a></td>
	<td>Notice</td>
	<td>공지</td>
</tr>
<!--*/-->
</table>
<form id="searchForm" style="margin-top: 10px;text-align: center;">
	<input type="text" name="search" style="width: 120px;" />
	<input type="submit" value="Search" />
</form>
</div>
<div style="width: 49%;float: right;">
	<form id="editBoardForm">
	<table class="bbs-table">
	<caption>Edit Board</caption>
	<tr>
		<td>Code</td>
		<td><input type="text" name="boardCd" style="width: 135px;" disabled /></td>
	</tr>
	<tr>
		<td>Name</td>
		<td>
			<input type="text" name="boardNm" style="width: 135px;" />
			<input type="button" id="name-btn" value="Submit" />
		</td>
	</tr>
	<tr>
		<td>Name_ko</td>
		<td>
			<input type="text" name="boardNm_ko" style="width: 135px;" />
			<input type="button" id="ko-name-btn" value="Submit" />
		</td>
	</tr>
	</table>
	</form>

	<form id="newBoardForm">
	<table class="bbs-table">
	<caption>New Board</caption>
	<tr>
		<td>Code</td>
		<td><input type="text" name="boardCd" style="width: 135px;" /></td>
	</tr>
	<tr>
		<td>Name</td>
		<td><input type="text" name="boardNm" style="width: 135px;" /></td>
	</tr>
	<tr>
		<td>Name_ko</td>
		<td><input type="text" name="boardNm_ko" style="width: 135px;" /></td>
	</tr>
	<tr>
		<td colspan="2" style="border: none;"><input type="submit" value="Submit" /></td>
	</tr>
	</table>
	</form>

	<form id="deleteBoardForm">
	<table class="bbs-table">
	<caption>Delete Board</caption>
	<tr>
		<td>Code</td>
		<td>
			<input type="text" name="boardCd" style="width: 135px;" />
			<input type="submit" value="Submit" />
		</td>
	</tr>
	</table>
	</form>
</div>

</article>

</body>
</html>
