<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{change.password}">비밀번호 변경</title>
<meta name="Keywords" content="비밀번호 변경" th:content="#{change.password}" />
<meta name="Description" content="비밀번호 변경" th:content="#{change.password}" />
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<link rel="stylesheet" media="all" href="../../../static/css/ko.css" />
<style>
article {
	width: 830px;
	margin: 0 auto;
}
</style>
</head>
<body>
<article>
<h3 th:text="#{change.password}">비밀번호 변경</h3>
<div th:if="${param.change}" th:text="#{change.password.done}">비밀번호가 변경되었습니다.</div>
<form id="changePasswordForm" th:action="@{/user/changePassword}" th:method="post">
<table style="width: 100%;margin: 10px 0;">
<tr>
  <td style="border: 1px solid #c0c0c0;padding: 5px;" th:text="#{current.password}">현재 비밀번호</td>
  <td style="border: 1px solid #c0c0c0;padding: 5px;"><input type="password" name="currentPassword" placeholder="Current Password" /></td>
</tr>
<tr>
  <td style="border: 1px solid #c0c0c0;padding: 5px;" th:text="#{new.password}">새 패스워드</td>
  <td style="border: 1px solid #c0c0c0;padding: 5px;"><input type="password" name="newPassword" placeholder="New Password" /></td>
</tr>
</table>
<div>
  <input type="submit" th:value="#{submit}" value="전송" />
</div>
</form>
</article>
</body>
</html>