<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>수정</title>
<meta name="Keywords" content="Edit Post" />
<meta name="Description" content="Edit Post" />
<link rel="stylesheet" media="screen" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
  width: 777px;
}
</style>
</head>
<body>
<article>
<div id="content-categories">자유게시판</div>
<h3>수정</h3>
<form id="editForm" action="/bbs/chat/23488" method="post">
<input type="hidden" name="page" value="1" />
<input type="hidden" name="search" value="" />
<table id="write-form" class="bbs-table" commandName="article">
<tr>
  <td>제목</td>
  <td><input name="title" type="text" id="title" value="웹 프로그래밍 2 최종 소스" style="width: 90%" /></td>
</tr>
<tr>
  <td colspan="2">
    <textarea id="modifyForm-ta" name="content" rows="17" cols="50">
자바 웹 프로그래밍 2 예제<br />
https://github.com/kimjonghoon/java-web-programming-2-samples
    </textarea>
  </td>
</tr>
</table>
<div style="text-align: center;padding-bottom: 15px;">
  <input type="submit" value="전송" />
  <input type="button" value="상세보기" id="goView" />
</div>
</form>
<div id="form-group" style="display: none">
  <form id="viewForm" action="/bbs/chat/23488" method="get">
    <input type="hidden" name="page" value="1" />
    <input type="hidden" name="search" value="" />
  </form>
</div>
</article>
</body>
</html>