<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${boardName}">목록</title>
<meta name="Keywords" content="List" />
<meta name="Description" content="List" />
<link rel="stylesheet" media="screen" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
  width: 777px;
  margin: 0 auto;
}
#paging a {
  color: #555;
  text-decoration: none;
}
#paging a:hover {
  color: #555;
  text-decoration: underline;
}
</style>
<script src="../../../static/js/jquery.js"></script>
<script th:inline="javascript">
$(document).ready(function() {
	$('#new-post-btn').click(function() {
		var $form = $('#writeForm');
		if ($form.is(':hidden') === true) {
			$form.show();
		} else {
			$form.hide();
		}
	});
	$('#paging a').click(function(e) {
		e.preventDefault();
		$page = $(this).attr('title');
		$('#listForm input[name*=page]').val($page);
		$('#listForm').submit();
	});
	$('.bbs-table tr td:nth-child(2) > a').click(function(e) {
		e.preventDefault();
		$articleNo = $(this).attr('title');
		$action = $('#viewForm').attr('action');
		$action += $articleNo;
		$('#viewForm').attr('action',$action);
		$('#viewForm').submit();
	});
	$('#numPerPage').change(function() {
		var numPerPage = $('#numPerPage option:selected').val();
		if (numPerPage) {
			createCookie('numPerPage', numPerPage, '30');
			$('#listForm input[name*=page]').val('1');
			$('#listForm').submit();
		}
	});
	$('#searchForm').submit(function() {
		var $search = $('#searchForm input[name*=search]').val();
		$search = $.trim($search);
		$('#searchForm input[name*=search]').val($search);
		$('#searchForm').submit();
	});
	$('#writeForm').submit(function() {
		var title = $('#writeForm input[name*=title]').val();
		title = $.trim(title);
		var content = $('#writeForm-ta').val();
		content = $.trim(content);
		if (title.length === 0) {
			var warning = /*[[#{title.empty.warning}]]*/ "제목이 비었습니다!";
			alert(warning);
			$('#writeForm input[name*=title]').val('');
			return false;
		}
		if (content.length === 0) {
			var warning = /*[[#{content.empty.warning}]]*/ "내용이 비었습니다!";
			alert(warning);
			$('#writeForm-ta').val('');
			return false;
		}
		$('#writeForm input[name*=title]').val(title);
		$('#writeForm-ta').val(content);
	});
});
function createCookie(name, value, days) {
  var newCookie = name + "=" + escape(value);
  if (days) {
    var expires = new Date();
    expires.setTime(expires.getTime() + days * 24 * 60 * 60 * 1000);
    newCookie += "; expires=" + expires.toGMTString();
  }
  document.cookie = newCookie;
}
</script>
</head>
<body>
<article>
<div id="content-categories" th:text="${boardName}">자유게시판</div>
<div style="text-align: right;">
  <select id="numPerPage">
    <option value="" th:text="#{number.per.page}">페이지당 게시글 수</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</div>
<table class="bbs-table" id="list-table">
<tr>
  <th style="width: 60px;text-align: center;">NO</th>
  <th>TITLE</th>
  <th style="width: 84px;text-align: center;">DATE</th>
  <th style="width: 60px;text-align: center;">HIT</th>
</tr>
<tr th:each="post : ${posts}" th:class="${postStat.odd} ? 'odd'">
  <td style="text-align: center;" th:text="${post.postNo}">405</td>
  <td><a href="#" title="23488" th:text="${post.title}">자바 웹 프로그래밍 2 최종 소스</a></td>
  <td style="text-align: center;" th:with="df=#{date.format}" th:text="${#calendars.format(post.regdate,df)}">24 10 20</td>
  <td style="text-align: center;" th:text="${post.hit}">2</td>
</tr>
<!--/*-->
<tr>
  <td style="text-align: center;">404</td>
  <td><a href="#" title="23486">우분투 24.04에 자바 개발 환경</a></td>
  <td style="text-align: center;">24 07 15</td>
  <td style="text-align: center;">1</td>
</tr>
<tr>
  <td style="text-align: center;">403</td>
  <td><a href="#" title="23466">스프링 자바 기반 설정</a></td>
  <td style="text-align: center;">24 07 15</td>
  <td style="text-align: center;">3</td>
</tr>
<tr>
  <td style="text-align: center;">402</td>
  <td><a href="#" title="23087">다음 글, 이전 글 기능 수정</a></td>
  <td style="text-align: center;">24 04 22</td>
  <td style="text-align: center;">3</td>
</tr>
<tr>
  <td style="text-align: center;">401</td>
  <td><a href="#" title="23086">페이징 처리</a></td>
  <td style="text-align: center;">24 04 16</td>
  <td style="text-align: center;">2</td>
</tr>
<tr>
  <td style="text-align: center;">400</td>
  <td><a href="#" title="23059">간단한 Spring MyBatis 예제</a></td>
  <td style="text-align: center;">24 04 08</td>
  <td style="text-align: center;">1</td>
</tr>
<tr>
  <td style="text-align: center;">399</td>
  <td><a href="#" title="23053">윈도에서 책 에제 테스트 방법</a></td>
  <td style="text-align: center;">24 04 02</td>
  <td style="text-align: center;">2</td>
</tr>
<tr>
  <td style="text-align: center;">398</td>
  <td><a href="#" title="22400">자바 9 모듈</a></td>
  <td style="text-align: center;">24 02 09</td>
  <td style="text-align: center;">0</td>
</tr>
<tr>
  <td style="text-align: center;">397</td>
  <td><a href="#" title="19746">우분투에 MariaDB 설치</a></td>
  <td style="text-align: center;">22 11 18</td>
  <td style="text-align: center;">0</td>
</tr>
<tr>
  <td style="text-align: center;">396</td>
  <td><a href="#" title="19212">스프링 MVC에서 Thymeleaf 레이아웃 사용</a></td>
  <td style="text-align: center;">22 08 17</td>
  <td style="text-align: center;">0</td>
</tr>
<!--*/-->
</table>
<div id="paging">
  <a href="#" title="1" th:if="${prevPage} &gt; 0" th:text="#{first.page}">[처음]</a>
  <a href="#" title="10" th:if="${prevPage} &gt; 0" th:title="${prevPage}" th:text="#{prev.page}">[이전]</a>
  <th:block th:each="page : ${pages}">
    <th:block th:if="${page} == ${param.page[0]}"> 
	  <span class="bbs-strong" th:text="${page}">11</span>
    </th:block>
    <th:block th:unless="${page} == ${param.page[0]}"> 
      <a href="#" title="12" th:title="${page}" th:text="' [ ' + ${page} + ' ] '"> [ 12 ] </a>
    </th:block>
  </th:block>
  <!--/*-->
  <a href="#" title="13">[ 13 ]</a>
  <a href="#" title="14">[ 14 ]</a>
  <a href="#" title="15">[ 15 ]</a>
  <a href="#" title="16">[ 16 ]</a>
  <a href="#" title="17">[ 17 ]</a>
  <a href="#" title="18">[ 18 ]</a>
  <a href="#" title="19">[ 19 ]</a>
  <a href="#" title="20">[ 20 ]</a>
  <!--*/-->
  <a href="#" title="21" th:if="${nexPage} &gt; 0" th:title="${nextPage}" th:text="#{next.page}">[다음]</a>
  <a href="#" title="41" th:if="${nexPage} &gt; 0" th:title="${totalPage}" th:text="#{final.page}">[마지막]</a>
</div>
<div>
  <input type="button" value="새 글쓰기" th:value="#{new.post.btn}" id="new-post-btn" />
</div>
<form id="searchForm" action="/bbs/chat" th:action="@{/bbs/${boardCd}}" method="get">
  <input type="hidden" name="page" value="1" th:value="${param.page }" />
  <div style="text-align: center;">
    <input type="text" name="search" size="15" maxlength="30" />
    <input type="submit" value="검색" th:value="#{search}" />
  </div>
</form>
<form id="writeForm" action="/bbs/chat" th:action="/bbs/${boardCd}" method="post" style="display: none;">
<table id="write-form" class="bbs-table">
<caption>새 글쓰기</caption>
<tr>
  <td>제목</td>
  <td><input type="text" name="title" id="title" style="width: 90%" /></td>
</tr>
<tr>
  <td colspan="2">
    <textarea id="writeForm-ta" name="content" rows="10" cols="50"></textarea>
  </td>
</tr>
<tr>
  <td colspan="2">
    <input type="submit" value="전송" th:value="#{submit}" />
  </td>
</tr>
</table>
</form>
<div id="form-group">
  <form id="listForm" method="get">
    <input type="hidden" name="page" />
    <input type="hidden" name="search" value="test" th:value="${param.search }" />
  </form>
  <form id="viewForm" action="/bbs/chat/" th:action="/bbs/${boardCd}/" method="get">
    <input type="hidden" name="page" value="1" th:value="${param.page }" />
    <input type="hidden" name="search" value="test" th:value="${param.search }" />
  </form>
</div>
</article>
</body>
</html>
