<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="${login}">로그인</title>
<meta name="Keywords" th:content="#{login}" />
<meta name="Description" th:content="#{login}" />
</head>

<body>
<article>
<h2 th:text="#{login}">로그인</h2>
<div th:if="${param.error}" th:text="#{login.error}">사용자명과 패스워드가 유효하지 않습니다.</div>
<form th:action="@{/login}" th:method="post">
<table style="width: 100%;margin: 10px 0;">
<tr>
    <td style="border: 1px solid #c0c0c0;padding: 5px;" th:text="#{username}">사용자명</td>
    <td style="border: 1px solid #c0c0c0;padding: 5px;"><input type="text" name="username" placeholder="username" /></td>
</tr>
<tr>
    <td style="border: 1px solid #c0c0c0;padding: 5px;" th:text="#{password}">패스워드</td>
    <td style="border: 1px solid #c0c0c0;padding: 5px;"><input type="password" name="password" placeholder="password" /></td>
</tr>
</table>
<div>
    <input type="submit" value="전송" th:value="#{submit}" />
    <a href="#" th:href="@{/user/signUp}"><button type="button" th:text="#{sign.up}">회원가입</button></a>
</div>
</form>
</article>
</body>
</html>