<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="${login}">로그인</title>
<meta name="Keywords" th:content="#{login}" />
<meta name="Description" th:content="#{login}" />
</head>

<body>

<article>

<h2 th:text="#{login}">로그인</h2>

<div th:if="${param.error}" th:text="#{login.error}">사용자명과 패스워드가 유효하지 않습니다.</div>
<form th:action="@{/login}" th:method="post">
<table>
<tr>
    <td th:text="#{username}">사용자명</td>
    <td><input type="text" name="username" placeholder="username" /></td>
</tr>
<tr>
    <td th:text="#{password}">패스워드</td>
    <td><input type="password" name="password" placeholder="password" /></td>
</tr>
</table>
<div>
    <input type="submit" value="전송" th:value="#{submit}" />
    <a href="#" th:href="@{/users/signUp}"><button type="button" th:text="#{sign.up}">회원가입</button></a>
</div>
</form>

</article>

</body>
</html>
