<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>새 글쓰기</title>
<meta name="Keywords" content="New Post" />
<meta name="Description" content="New Post" />
<link rel="stylesheet" media="screen" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
  width: 777px;
}
</style>
</head>
<body>
<article>
<div id="content-categories">자유게시판</div>
<h3>새 글쓰기</h3>
<form id="writeForm" action="/bbs/chat" method="post">
<table id="write-form" class="bbs-table">
<tr>
  <td>제목</td>
  <td><input type="text" name="title" id="title" style="width: 90%" /></td>
</tr>
<tr>
  <td colspan="2">
    <textarea id="writeForm-ta" name="content" rows="17" cols="50">
	</textarea>
  </td>
</tr>
</table>
<div style="text-align: center;padding-bottom: 15px;">
  <input type="submit" value="전송" />
  <input type="button" value="목록" id="goList" />
  <input type="button" value="상세보기" id="goView" />
</div>
</form>
<div id="form-group" style="display: none">
  <form id="viewForm" action="/bbs/chat/23488" method="get">
    <input type="hidden" name="page" value="1" />
    <input type="hidden" name="search" value="" />
  </form>
  <form id="listForm" action="/bbs/chat" method="get">
    <input type="hidden" name="page" value="1" />
    <input type="hidden" name="search" value="" />
  </form>
  <div id="title-empty" title="제목이 비었습니다!"></div>
  <div id="content-empty" title="내용이 비었습니다!"></div>
</div>
</article>
</body>
</html>
