<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{sign.up}">회원가입</title>
<meta name="Keywords" content="회원 가입" th:content="#{sign.up}" />
<meta name="Description" content="회원 가입" th:content="#{sign.up}" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
</head>

<body>
<article>
<h3 th:text="#{sign.up}">회원가입</h3>
<form id="signUpForm" th:action="@{/user/signUp}" th:method="post" th:object="${user}">
<table style="width: 100%;margin: 10px 0;">
<tr>
  <td style="border: 1px solid #c0c0c0;padding: 5px;" th:text="#{username}">사용자명</td>
  <td style="border: 1px solid #c0c0c0;padding: 5px;">
    <input type="text" th:field="*{username}"/><br />
    <span class="validationError" th:if="${#fields.hasErrors('username')}" 
        th:errors="*{username}">이름 에러</span>
  </td>
</tr>
<tr>
  <td style="border: 1px solid #c0c0c0;padding: 5px;" th:text="#{password}">패스워드</td>
  <td style="border: 1px solid #c0c0c0;padding: 5px;">
    <input type="password" th:field="*{password}"/><br />
    <span class="validationError" th:if="${#fields.hasErrors('password')}"
        th:errors="*{password}">패스워드 에러</span>
    </td>
</tr>
</table>
<div>
  <input type="submit" th:value="#{submit}" value="전송" />
</div>
</form>
</article>
</body>
</html>