<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{signUp}">회원가입</title>
<meta name="Keywords" content="회원 가입" th:content="#{signUp}" />
<meta name="Description" content="회원 가입" th:content="#{signUp}" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
</head>

<body>

<article>

<h3 th:text="#{signUp}">회원가입</h3>

<form id="signUpForm" th:action="@{/users/signUp}" th:method="post" th:object="${user}">
<table>
<tr>
  <td th:text="#{username}">사용자명</td>
  <td>
    <input type="text" th:field="*{username}"/><br />
    <span class="validationError" th:if="${#fields.hasErrors('username')}" 
        th:errors="*{username}">이름 에러</span>
  </td>
</tr>
<tr>
  <td th:text="#{password}">패스워드</td>
  <td>
    <input type="password" th:field="*{password}"/><br />
    <span class="validationError" th:if="${#fields.hasErrors('password')}"
        th:errors="*{password}">패스워드 에러</span>
    </td>
</tr>
</table>
<div>
  <input type="submit" th:value="#{submit}" value="전송" />
</div>
</form>

</article>

</body>
</html>
