<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>TOC</title>
<meta name="Keywords" content="TOC" />
<meta name="Description" content="TOC" />
<link rel="stylesheet" media="all" href="../../../static/css/screen.css" />
<link rel="stylesheet" media="all" href="../../../static/css/prettify.css" />
<script src="../../../static/js/prettify.js"></script>
<script src="../../../static/js/run_prettify.js"></script>
</head>

<body>

<article>

<h1>Setting up a Java development environment</h1>

<h3>Java</h3>

<p>
https://www.oracle.com/java/technologies/downloads<br />
</p>

<p>
<img src="../../../static/images/java-latest-x64-installer.png" th:src="@{/static/images/java-latest-x64-installer.png}" alt="최신 자바 x64 Installer 선택" /><br />
</p>

<p>
Run the JDK Installer.<br>
Continue clicking the Next button to complete the installation.<br />
The installed JDK directory is <strong>C:\Program Files\Java\jdk-22</strong>.
</p>

<p>
Create a new variable named JAVA_HOME in the user variables as follows:<br />
</p>

<p>
Open <strong>Start</strong><br />
<strong>System</strong><br />
<strong>Advanced System Settings</strong><br />
<strong>Environment Variables(N)...</strong><br />
Under the "User variables for someson" section, click the <strong>New</strong> button.<br />
Type JAVA_HOME in the "Variable name" setting.<br />
Type C:\Program Files\Java\jdk-22 in the "Variable values" setting.<br />
Click the OK button.<br />
Click the OK button.<br />
</p>

<p>
Add the JDK's bin path to the Path of user variables.
</p>

<p>
Run the command prompt as an administrator and execute <strong>echo %PATH%</strong> to confirm the JDK's bin path is in your Path.
</p>

<pre class="commandLine">C:\Windows\System32&gt; <strong>echo %PATH%</strong>

C:\Program Files\Common Files\Oracle\Java\javapath;
C:\Windows\system32;C:\Windows;
C:\Windows\System32\Wbem;
C:\Windows\System32\WindowsPowerShell\v1.0\;
C:\Windows\System32\OpenSSH\;
<strong>C:\Program Files\Java\jdk-22\bin;</strong>
</pre>

<h3>Maven</h3>

<p>
https://maven.apache.org/download.cgi<br />
Download the latest binary version to unpack it.<br />
Copy the generated directory to a location of your choice.<br />
Add the Maven's bin path to the Path of user variables.<br />
</p>

<p>
Verify.
</p>

<pre class="commandLine">mvn -v</pre>

<h3>Git</h3>

<p>
https://git-scm.com/download/win<br />
Download <strong>64-bit Git for Windows Setup</strong>.<br />
You can complete the installation simply by clicking the Next button.<br />
</p>

<p>
Add your name and email to your git config as shown below.<br />
</p>

<pre class="commandLine">git config --global user.name "Jo Maso"
git config --global user.email jo@gmail.org
</pre>

<p>
Verify.
</p>

<pre class="commandLine">
git config --global --list
</pre>

<h3>GitHub CLI</h3>

<p>
Sign up at https://github.com.<br />
Click Download for Windows on the https://cli.github.com page to download the msi file.<br />
After installation, run <strong>gh auth login</strong> while logged in the https://github.com.<br />
</p>

<pre class="commandLine">gh auth login</pre>

<p>
Select as below.<br />
</p>

<pre class="commandLine">? What account do you want to log into? <strong>GitHub.com</strong>
? What is your preferred protocol for Git operations? <strong>HTTPS</strong>
? Authenticate Git with your GitHub credentials? <strong>Yes</strong>
? How would you like to authenticate GitHub CLI? <strong>Login with a web browser</strong>
</pre>

<p>
Once you complete your selection, a one-time password will be added to the output.<br />
</p>

<pre class="commandLine">! First copy your one-time code: <em>one-time code</em> 
- Press Enter to open github.com in your browser...
</pre>

<p>
<img src="../../../static/images/device-activation-selection.png" th:src="@{/static/images/device-activation-selection.png}" alt="Device Activation selection" />
</p>

<p>
Copy the one-time password displayed in the command prompt and press Enter.<br />
A page will open in your web browser where you can enter your password.<br />
Paste the password displayed in the command prompt into the input box of the page.<br />
Click <strong>Continue</strong>.<br />
</p>

<p>
<img src="../../../static/images/device-activation-onetime.png" th:src="@{/static/images/device-activation-onetime.png}" alt="Device Activation one time code" />
</p>

<p>
Click <strong>Authorize github</strong>.<br />
</p>

<p>
<img src="../../../static/images/authorize-github-cli.png" th:src="@{/static/images/authorize-github-cli.png}" alt="Authorize GitHub CLI" />
</p>

<p>
<img src="../../../static/images/your-device-is-now-connected.png" th:src="@{/static/images/your-device-is-now-connected.png}" alt="Your device is now connected" />
</p>

<h4>Create a new repository</h4>

<p>
<img src="../../../static/images/create-a-new-repository-1.png" th:src="@{/static/images/create-a-new-repository-1.png}" alt="Create a new repository new button click" />
</p>

<p>
Type <strong>jwp2samples</strong> on the Repository name.<br />
Choose <strong>Public</strong><br />
Check <strong>Add a README file</strong><br />
Select <strong>.gitignore:Java</strong><br />
</p>

<p>
<img src="../../../static/images/create-a-new-repository-2.png" th:src="@{/static/images/create-a-new-repository-2.png}" alt="Create a new repository form" />
</p>

<p style="padding: 0 0.5em;">
<strong>Note</strong><br />
https://www.toptal.com/developers/gitignore<br />
This site provides more specific help in creating your .gitignore file than github provides.<br />
</p>

<p>
Click on the repository you created on the https://github.com.<br />
Copy the address from the web browser address bar.<br />
Paste the copied address after git clone at the command prompt and press Enter.<br />
</p>

<pre class="commandLine">git clone https://github.com/&lt;your-account&gt;/jwp2samples
</pre>

<p>
If the repository name is jwp2samples, a folder with the same name will be created.<br />
</p>

<p>
After going to jwp2samples, open the README.md file and write as follows:
</p>

<pre class="commandLine">cd jwp2samples
vi README.md
</pre>

<div class="filename">README.md</div>
<pre class="prettyprint">Java Web Programming 2 Samples
==============================

## A Bulletin Board Program with
* Spring MVC
* Spring Security
* MyBatis Spring
* Bean Validation
* i18n
* Thymeleaf

## How to run
**mvn clean jetty:run**
</pre>

<p>
Save your changes to your GitHub repository.
</p>

<pre class="commandLine">git add . -A
git commit -m "first commit"
git push
</pre>

<p>
To make your local repository follow the GitHub repository, run:<br />
</p>

<pre class="commandLine">git fetch orign
git reset --hard orgin/main
</pre>

<p>
<strong>Git Guide</strong><br />
https://rogerdudler.github.io/git-guide/index.ko.html<br />
</p>

<h3>Vim</h3>

<p>
https://www.vim.org/download.php<br />
Down <strong>gvim_9.1.0_x64_signed.exe (64bit installer)</strong>.<br />
Continue clicking the Next button to complete the installation.<br />
Add "C:\Program Files\Vim\vim91" to the Path of user variables.<br />
</p>

<p>
To use vi instead of vim, run:<br />
</p>

<pre class="commandLine">Set-Alias vi vim</pre>

<p>
Vim has some useful commands.<br />
At the command prompt, press ctrl and r.<br />
bck-i-search: and a cursor appears.<br />
</p>

<pre class="commandLine">PS C:\Users\javaschool&gt;
bck-i-search: _
</pre>

<p>
As you type a character, it shows the command history containing that character.<br />
Enter will execute that command.<br />
You can edit the command after pressing the Esc key.<br />
</p>

<p>
If you just type <strong>git r</strong>, it will look in your command history and 
show you <strong>git reset --hard origin/main</strong>.
</p>

<pre class="commandLine"><strong>git r</strong>eset --hard origin/main
bck-i-search: git r
</pre>

<p>
If you press enter at this point, git reset --hard orgin/main will be executed.<br />
</p>

<p>
Vim on Windows allow you to be able to use some useful commands 
and to do simple document editing.<br />
However, unlike Linux, Vim on Windows is not suitable for professional document work.<br />
For Windows document editor, I recommend Notepad++.<br />
https://notepad-plus-plus.org/downloads/<br />
I recommend Eclipse as a Java development tool.<br />
https://www.eclipse.org/<br />
</p>

<h3>Oracle</h3>

<p>
https://www.oracle.com/database/technologies/xe-prior-release-downloads.html<br />
If you have a 64-bit Windows system -- most systems are 64-bit systems -- download Oracle Database 11gR2 Express Edition for Windows x64.<br /> 
You need an account on the Oracle website to download this version.<br />
After registering as a member and logging in, the download will start.<br />
After unpacking the downloaded compressed file, run setup.exe in the Disk1 subdirectory created and click the Next button to install it.<br />
You can install Oracle easily since Oracle 11g version officially supports Windows 10 and 11.<br />
Do not forget the administrator password you entered during the installation.<br />
Since Oracle Application Express, one of the 11g XE components, uses port 8080, stop Tomcat if it is in service before installation.<br />
</p>

<p>
For Windows, the default port of Oracle Application Express, 8080, cannot be changed during installation. 
After installation, the method to change the 8080 port of Apex to 9090 is as follows:
</p>

<pre class="commandLine">C:\Users&gt; <strong>sqlplus</strong>
Enter user-name: <strong>system</strong>
Enter password:
Connected.

SQL&gt; <strong>Exec DBMS_XDB.SETHTTPPORT(9090);</strong>

PL/SQL procedure successfully completed.

SQL&gt;
</pre>

<pre class="commandLine">C:\Users&gt; <strong>sqlplus</strong>
Enter user-name: <strong>system</strong>
Enter password:
Connected.
SQL&gt; <strong>@C:\oraclexe\app\oracle\product\11.2.0\server\rdbms\admin\scott.sql</strong>
SQL&gt;
</pre>

<h3>Tomcat</h3>

<p>
https://tomcat.apache.org/download-10.cgi<br />
Download <strong>64-bit Windows zip</strong> of the 10.1.xx version.<br />
Unpack the downloaded file, copy the created directory to the location you want.<br />
</p>

<p>
Tomcat start: run startup.bat of the bin folder.<br />
</p>

<pre class="commandLine">C:\tomcat10\bin&gt; <strong>.\startup.bat</strong></pre>

<p>
Tomcat stop: run shutdown.bat of the bin folder.<br />
</p>

<pre class="commandLine">C:\tomcat10\bin&gt; <strong>.\shutdown.bat</strong></pre>

<th:block th:replace="~{thymeleaf/menu_en :: index}"></th:block>

<th:block th:replace="~{spring-security/menu_en :: index}"></th:block>

<h1>Chapter 3. Bulletin Board</h1>

</article>

</body>
</html>
