<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{user.list}">회원명부</title>
<meta name="Keywords" content="회원명부" th:content="#{user.list}" />
<meta name="Description" content="회원명부" th:content="#{user.list}" />
<link rel="stylesheet" media="screen" href="../../../../static/css/screen.css" />
<script>
$(document).ready(function() {
	$('.del-user-link').click(function(e) {
		e.preventDefault();
		var check = confirm('정말로 삭제할까요?");
		if (check) {
			var username = this.title;
			$('#delUserForm input[nmae*=username]').val(username);
			$('#delUserform').submit();
		}
	});
});
</script>
</head>

<body>
<article>
<h3 th:text="#{user.list}">회원명부</h3>
<table class="bbs-table">
<tr>
	<th width="10%">No</th>
	<th width="24%" th:text="#{username}">사용자명</th>
	<th width="14%" th:text="#{user.roles}">권한</th>
	<th th:text="#{email}">이메일</th>
	<th th:text="#{user.enabled}">활성</th>
</tr>
<tr>
	<td>3</td>
	<td><a href="#">rachel</a></td>
	<td>USER,ADMIN</td>
	<td>rachel@gmail.org</td>
	<td>1</td>
</tr>
<tr>
	<td>2</td>
	<td><a href="#">monica</a></td>
	<td>USER</td>
	<td>monica@yahoo.com</td>
	<td>1</td>
</tr>
<tr>
	<td>1</td>
	<td><a href="#">phoebe</a></td>
	<td>USER</td>
	<td>phoebe@gmail.org</td>
	<td>0</td>
</tr>
</table>
<div id="paging">
	<a href="#" th:text="#{page.first}">[처음]</a>
	<a href="#" th:text="#{page.prev}">[이전]</a>
	<a href="#">[1]</a>
	<a href="#">[2]</a>
	<a href="#">[3]</a>
	<a href="#">[4]</a>
	<a href="#">[5]</a>
	<a href="#" th:text="#{page.next}">[다음]</a>
	<a href="#" th:text="#{page.last}">[마지막]</a>
</div>
<form>
	<input type="hidden" name="page" />
	<input type="text" name="search" />
	<input type="submit" value="검색" th:value="#{search}" />
</form>

<table class="bbs-table">
<tr>
	<td th:text="#{username}">사용자명</td>
	<td><input type="text" name="username" value="rachel" disabled /></td>
</tr>
<tr>
	<td th:text="#{email}">이메일</td>
	<td><input type="text" name="email" /></td>
</tr>
<tr>
	<td th:text="#{user.enabled}">회원 활성 여부</td>
	<td>
		<input type="radio" name="enabled" value="1" checked />True
		<input type="radio" name="enabled" value="0" />False
		<input type="submit" value="전송" th:value="#{submit}" />
	</td>
</tr>
</table>

<table>
<tr>
	<td th:text="#{new.password}">새 비밀번호</td>
	<td>
		<input type="password" name="password" />
		<input type="submit" value="전송"th:value="#{submit}" autocomplete="off" />
	</td>
</tr>
</table>

<table>
<tr>
	<td th:text="#{user.roles}">권한</td>
	<td>
		USER
		<a href="#" class="del-auth-link">x</a>
	</td>
</tr>
<tr>
	<td th:text="#{add.user.role}">권한 추가</td>
	<td>
		<select name="role">
			<option value="USER" selected="selected" th:text="#{role.user}">사용자</option>
			<option value="ADMIN" th:text="#{role.admin}">관리자</option>
		</select>
		<input type="submit" value="전송" th:value="#{submit}" />
	</td>
</tr>
</table>

<form id="delUserForm" th:action="@{/admin/delUser}" th:method="post">
    <input type="hidden" name="page" />
    <input type="hidden" name="search" />
    <input type="hidden" name="username" />
</form>
</article>

</body>
</html>
