<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users</title>
<meta name="Keywords" content="Users" />
<meta name="Description" content="Users" />
<link rel="stylesheet" media="screen" href="../../../static/css/en.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
	width: 830px;
	margin: 0 auto; 
}
</style>
<script src="../../../static/js/jquery.js"></script>
<script>
$(document).ready(function() {

});
</script>
</head>
<body>

<article>
<h3>Users</h3>

<table class="bbs-table" style="width: 49%;float: left;">
<tr>
	<th style="text-align: left;">No</th>
	<th style="text-align: left;">Username</th>
	<th style="text-align: left;">Roles</th>
</tr>
<tr>
	<td>2</td>
	<td><a href="#">rachel</a></td>
	<td>ROLE_USER,ROLE_ADMIN</td>
</tr>
<tr>
	<td>1</td>
	<td><a href="#">phoebe</a></td>
	<td>ROLE_USER</td>
</tr>
</table>

<div style="width: 49%;float: right;">
	<form id="changePasswordForm">
	<table class="bbs-table">
	<caption>Change Password</caption>
	<tr>
		<td>Username</td>
		<td>
			<input type="text" name="username" value="rachel" disabled />
		</td>
	</tr>
	<tr>
		<td>New Password</td>
		<td>
			<input type="password" name="password" />
			<input type="submit" value="Submit" />
		</td>
	</tr>
	</table>
	</form>

	<form id="allRolesForm">
	<table class="bbs-table">
	<caption>Add Roles</caption>
	<tr>
		<td>Username</td>
		<td><input type="text" name="username" value="rachel" disabled /></td>
	</tr>
	<tr>
		<td th:text="#{user.roles}">Roles</td>
		<td>ROLE_USER <a href="#" class="del-auth-link">x</a></td>
	</tr>
	<tr>
		<td th:text="#{add.user.role}">Add Role</td>
		<td>
			<select name="role">
				<option value="ROLE_USER" selected="selected">USER</option>
				<option value="ROLE_ADMIN">ADMIN</option>
			</select>
			<input type="submit" value="Submit" />
		</td>
	</tr>
	</table>
	</form>

	<form id="deleteAccountForm">
	<table class="bbs-table">
	<caption>Delete Account</caption>
	<tr>
		<td>Username</td>
		<td>
			<input type="text" name="username" value="rachel" disabled />
			<input type="submit" value="Delete" />
		</td>
	</tr>
	</table>
	</form>
</div>
</article>

</body>
</html>