<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users</title>
<meta name="Keywords" content="Users" />
<meta name="Description" content="Users" />
<link rel="stylesheet" media="screen" href="../../../static/css/en.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
	width: 830px;
	margin: 0 auto; 
}
</style>
<script src="../../../static/js/jquery.js"></script>
<script>
$(document).ready(function() {
	$('.username').click(function(e) {
		e.preventDefault();
		$('#authorities').empty();
		var username = $(this).text();
		var authorities = $(this).parent().next().text();
		var arr = authorities.split(",");
		var authorities_del = ""
		for (var idx in arr) {
			authorities_del += arr[idx] + ' <a href="#" title="' + arr[idx] + '" class="del-auth-link">x</a> ';
		}
		$('#changePasswordForm input[name*=username]').val(username);
		$('#addAuthorityForm input[name*=username]').val(username);
		$('#deleteAccountForm input[name*=username]').val(username);
		$('#authorities').append(authorities_del);
	});
});
</script>
</head>
<body>

<article>
<script th:inline="javascript">
var link = /*[[@{/}]]*/'';
</script>
<h3>Users</h3>
<div style="width: 49%;float: left;">
<table id="list-table" class="bbs-table">
<tr>
	<th style="text-align: left;">No</th>
	<th style="text-align: left;">Username</th>
	<th style="text-align: left;">Authorities</th>
</tr>
<!--/*-->
<tr class="data-row">
	<td>2</td>
	<td><a href="#" class="username">rachel</a></td>
	<td>ROLE_USER,ROLE_ADMIN</td>
</tr>
<tr class="data-row">
	<td>1</td>
	<td><a href="#" class="username">phoebe</a></td>
	<td>ROLE_USER</td>
</tr>
<!--*/-->
</table>
<form id="searchForm">
<div style="margin-top: 10px;text-align: center;" >
	<input type="text" name="search" style="width: 100px;" />
	<input type="submit" value="Search" />
</div>
</form>
</div>

<div style="width: 49%;float: right;">
	<form id="changePasswordForm">
	<table class="bbs-table">
	<caption>Change Password</caption>
	<tr>
		<td>Username</td>
		<td>
			<input type="text" name="username" disabled />
		</td>
	</tr>
	<tr>
		<td>New Password</td>
		<td>
			<input type="password" name="password" />
			<input type="submit" value="Submit" />
		</td>
	</tr>
	</table>
	</form>

	<form id="addAuthorityForm">
	<table class="bbs-table">
	<caption>Add Authority</caption>
	<tr>
		<td>Username</td>
		<td><input type="text" name="username" disabled /></td>
	</tr>
	<tr>
		<td>Del Authority</td>
		<td id="authorities"></td>
	</tr>
	<tr>
		<td>Add Authority</td>
		<td>
			<select name="authority" id="dropDownAuthority">
				<option value="ROLE_USER">ROLE_USER</option>
				<option value="ROLE_ADMIN">ROLE_ADMIN</option>
			</select>
			<input type="submit" value="Submit" />
		</td>
	</tr>
	</table>
	</form>

	<form id="deleteAccountForm">
	<table class="bbs-table">
	<caption>Delete Account</caption>
	<tr>
		<td>Username</td>
		<td>
			<input type="text" name="username" disabled />
			<input type="submit" value="Delete" />
		</td>
	</tr>
	</table>
	</form>

</div>
</article>

</body>
</html>
