<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>내용보기</title>
<meta name="Keywords" content="View details" />
<meta name="Description" content="View details" />
<link rel="stylesheet" media="screen" href="../../../static/css/ko.css" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" />
<style>
article {
  width: 777px;
  margin: 0 auto;
}
</style>
<script src="../../../static/js/jquery.js"></script>
<script>
$(document).ready(function() {
	$('#edit-post-btn').click(function() {
		var $div = $('#detail');
		var $form = $('#editForm');
		if ($form.is(':hidden') === true) {
			$form.show();
			$div.hide();
		} else {
			$form.hide();
			$div.show();
		}
	});
});
</script>
</head>
<body>
<article>
<div id="content-categories">자유게시판</div>
<div style="height: 22px;">
  <div style="float: left;">
    <input type="button" value="수정" id="edit-post-btn" />
    <input type="button" value="삭제" id="del-post-btn" />
  </div>
  <div style="float: right;">
    <input type="button" value="다음 글" title="23486" id="next-post-btn" />
    <input type="button" value="이전 글" title="23087" id="prev-post-btn" />
    <input type="button" value="목록" id="list-btn" />
  </div>
</div>
<div id="detail">
<table class="bbs-table">
<tr>
  <th style="width: 50px;text-align: left;vertical-align: top;font-size: 15px;">TITLE</th>
  <th style="text-align: left;color: #555;font-size: 15px;" id="post-title">자바 웹 프로그래밍 2 최종 소스</th>
</tr>
</table>
<div id="date-writer-hit">edited 24 07 15 오후 8:18:39 by hoon, hit 4</div>
<div id="post-content">
자바 웹 프로그래밍 2 예제<br />
https://github.com/kimjonghoon/java-web-programming-2-samples
  </div>
</div>
<form id="editForm" style="display: none;">
<table id="write-form" class="bbs-table">
<caption>수정</caption>
<tr>
  <td>제목</td>
  <td><input name="title" type="text" id="editForm-input" value="웹 프로그래밍 2 최종 소스" style="width: 90%" /></td>
</tr>
<tr>
  <td colspan="2">
<textarea id="editForm-ta" name="content" rows="10" style="width: 100%">
자바 웹 프로그래밍 2 예제<br />
https://github.com/kimjonghoon/java-web-programming-2-samples
</textarea>
  </td>
</tr>
<tr>
  <td colspan="2"><input type="submit" value="전송" /></td>
</table>
</form>
<div id="form-group" style="display: none">
  <form id="listForm" action="/bbs/chat" method="get">
    <input type="hidden" name="page" value="${param.page }" />
    <input type="hidden" name="search" value="${param.search }" />
  </form>
  <form id="viewForm" action="/bbs/chat/" method="get">
    <input type="hidden" name="page" value="${param.page }" />
    <input type="hidden" name="search" value="${param.search }" />
  </form>
</div>
</article>
</body>
</html>
