<!DOCTYPE html>
<!--*/ 1 title, 2 metas, 3 links, 4 scripts, 5 i18n, 6 maintext, 7 submenu, 8 reference */-->
<html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:replace="~{articles/toc_en :: title}">Homepage</title>
<meta name="Keywords" th:replace="~{articles/toc_en :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="~{articles/toc_en :: meta[@name='Description']}" />
<link rel="stylesheet" media="all" th:href="@{/static/css/en.css}" />
</head>
<body>

<nav th:replace="~{commons/mainmenu_en :: mainmenu}"></nav>

<div id="i18n">
	<a th:href="@{/ko}">korean</a>
</div>

<section th:replace="~{articles/toc_en :: article}"></section>

<aside th:replace="~{home/menu_en :: index}"></aside>

</body>
</html>
~                                                                                          
~                                           
