@CHARSET "UTF-8";
html, body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	font-family: "Liberation Sans", Helvetica, sans-serif;
	font-size: 1em;
}
pre {
	margin: 0 0 0.7em 0;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	white-space: pre-wrap;      /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* Internet Explorer 5.5+ */
	font-size: 0.88em;	
}
th, td {
	color: #646464;
	font-size: 13px;
	font-family: Roboto, sans-serif;
}
input, select, textarea {
	color: #646464;
	font-size: 12px;
	font-family: Roboto, sans-serif;
}
button {
	color: #646464;
	font-size: 12px;
	font-family: Roboto, sans-serif;
}
