@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	font-family: "Noto Sans KR", "Liberation Sans", Helvetica, "돋움", dotum, sans-serif;
	font-size: 1em;
}
pre {
	margin: 0 0 0.7em 0;
	font-family: Consolas, "Liberation Mono", Courier, "Noto Sans KR", dotum, monospace;
	white-space: pre-wrap;      /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* Internet Explorer 5.5+ */	
}
pre:lang(en) {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}
th, td {
	color: #646464;
	font-size: 13px;
	font-family: "돋움", dotum, sans-serif;
}
input, select, textarea {
	color: #333;
	font-size: 12px;
	font-family: "돋움", dotum, sans-serif;
}
button {
	color: #646464;
	font-size: 12px;
	font-family: "돋움", dotum, sans-serif;
}
