table {
	border-collapse: collapse;
}
img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}
pre {
	white-space: pre-wrap;
	hyphens: none;
}
.commandLine {
	background: #eee;
	padding: 0.25em;
}
div.filename {
	margin: 0.7em 0 0 0;
	font-size: 0.9em;
}
a:link {
	color: #2C80D0;
	text-decoration: none;
}
a:visited {
	color: #2C80D0;
	text-decoration: none;
}
a:active {
	color: #2C80D0;
	text-decoration: none;
}
a:hover {
	color: #2C80D0;
	text-decoration: underline;
}
article table {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
article td {
	padding: 5px 6px 3px 6px;
	border: silver 1px solid;
}
article th {
	padding: 5px 6px 3px 6px;
	border: silver 1px solid;
	text-align: left;
	border: silver 1px solid;
}
article caption {
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-align: left;
}
article > h1 {
	margin: 0;
	padding: 0;
	font-size: 1.45em;
}
article > h2 {
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 1.2em;
}
article > h3 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 1.1em;
}
article > h4 {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 1em;
}
article > h5 {
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 1em;
	color: #999;
}
article p {
	font-size: 0.93em;
}
article > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
article > ul > li {
	padding: 0.2em 0 0.2em 0.5em;
	background: url('../images/circle.gif') no-repeat 0% 50%;
	font-size: 0.9em;
	line-height: 1.4;
}
#header {
	display: none;
}
#main-menu {
	display: none;
}
#i18n {
	display: none;
}
#sidebar {
	display: none;
}
#extra {
	display: none;
}
#footer {
	display: none;
}
