<!DOCTYPE html>
<!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */-->
<html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{}, ~{::nav}, ~{::div}, ~{::section}, ~{}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Index</title>
<meta name="Keywords" content="Thymeleaf Index" />
<meta name="Description" content="Thymeleaf Index" />
<link rel="stylesheet" media="all" th:href="@{/static/css/en.css}" />
<link rel="stylesheet" media="all" th:href="@{/static/css/index.css}" />
</head>
<body>

<nav th:replace="~{commons/mainmenu_en :: mainmenu}"></nav>

<div id="i18n">
  <a th:href="@{/ko/thymeleaf}">korean</a>
</div>

<section th:replace="~{thymeleaf/menu_en :: index}"></section>

</body>
</html>
