<!DOCTYPE html>
<!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */-->
<html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{::script}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{::footer})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Java-Based Configuration</title>
<meta name="Keywords" th:replace="~{articles/02 :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="~{articles/02 :: meta[@name='Description']}" />
<link rel="stylesheet" media="all" th:href="@{/static/css/en.css}" />
<link rel="stylesheet" media="all" th:href="@{/static/css/prettify.css}" />
<script th:src="@{/static/js/prettify.js}"></script>
<script th:src="@{/static/js/run_prettify.js}"></script>
</head>
<body>

<nav th:replace="~{commons/mainmenu_en :: mainmenu}"></nav>

<div id="i18n">
  <a th:href="@{/ko/spring-security/java-based-config}">korean</a>
</div>

<section th:replace="~{articles/02_en :: #spring-security-java-based-config}"></section>

<aside th:replace="~{en/spring-security/menu :: index}"></aside>

<footer th:replace="~{spring-security/refs :: references}"></footer>

</body>
</html>
