<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" href="../../../../static/css/en.css" />
<link rel="stylesheet" media="all" href="../../../../static/css/screen.css" />
<style>
#sidebar {
	margin-left: 0;
}
</style>
<body>
<th:block th:fragment="index" id="sidebar">
<h1>Spring Security</h1>
<ul>
	<li><a href="#" th:href="@{/en/spring-security/get-started}">Get Started</a></li>
	<li><a href="#" th:href="@{/en/spring-security/java-based-config}">Java-Based Config</a></li>
	<li><a href="#" th:href="@{/en/spring-security/jdbc-authentication}">JDBC Authentication</a></li>
	<li><a href="#" th:href="@{/en/spring-security/custom-login}">Custom Login</a></li>
	<li><a href="#" th:href="@{/en/spring-security/sign-up}">Sign Up</a></li>
	<li><a href="#" th:href="@{/en/spring-security/logout}">Logout</a></li>
	<li><a href="#" th:href="@{/en/spring-security/edit-account}">Edit Account</a></li>
	<li><a href="#" th:href="@{/en/spring-security/change-password}">Change Password</a></li>
</ul>
</th:block>
</body>
</html>
