<!DOCTYPE html>
<html th:lang="${lang} ?: (${#locale.language == 'ko'} ? 'ko' : 'en')" th:fragment="layout (title, metas, links, scripts, mainmenu, i18n, maintext, submenu, reference)" 
	xmlns:th="http://www.thymeleaf.org"	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<th:block th:replace="${metas}" />
<link rel="stylesheet" media="print" href="../../../static/css/print.css" th:href="@{/static/css/print.css}" />
<link rel="stylesheet" media="screen" href="../../../static/css/screen.css" th:href="@{/static/css/screen.css}" />
<th:block th:replace="${links}" />
<script th:src="@{/static/js/jquery.js}"></script>
<th:block th:replace="${scripts}" />
</head>
<body>

<div id="wrap">
	<div id="header">
		<div id="java-school-ci">
			<a href="#" th:href="@{/}"><img src="../../../static/images/ci.gif" th:src="@{/static/images/ci.gif}" alt="java-school" /></a>
		</div>
		<div id="member">
		<th:block sec:authorize="isAnonymous()">
		  <a href="#" th:href="@{/users/login}"><button type="button" th:text="${lang == null} ? #{login} : (${lang == 'ko'} ? _ : 'Login')">로그인</button></a>
		  <a href="#" th:href="@{/users/signup}"><button type="button" th:text="${lang == null} ? #{signup} : (${lang == 'ko'} ? _ : 'Sing Up')">회원가입</button></a>
		</th:block>
		<th:block sec:authorize="isAuthenticated()">
		  <a href="#" id="logout"><button type="button" th:text="${lang == null} ? #{logout} : (${lang == 'ko'} ? _ : 'Logout')">로그아웃</button></a>
		  <a href="#" th:href="@{/users/editAccount}"><button type="button" th:text="${lang == null} ? #{edit.account} : (${lang == 'ko'} ? _ : 'Edit Account')">내 정보 수정</button></a>
		</th:block>
		<form id="logoutForm" th:action="@{/logout}" th:method="post" style="display:none"></form>
		<script>
		$(document).ready(function(e) {
			$('#logout').click(function (e) {
				e.preventDefault();
				$('#logoutForm').submit();
			});
		});
		</script>
		</div>
	</div>
		
	<div id="main-menu" th:replace="${mainmenu}">
		<ul>
			<li><a href="#">Thymeleaf</a></li>
			<li><a href="#">Spring Security</a></li>
			<li><a href="#">Bulletin Board</a></li>
		</ul>
	</div>

	<div id="i18n" th:replace="${i18n}">
		<a href="#">korean</a>
		<a href="#">english</a>
	</div>
		
	<div id="container">		
		<div id="content">
			<article th:replace="${maintext}">
				<h1>개발 준비</h1>
				<h3>Java 설치</h3>
				<h1>1장 Thymeleaf</h1>
				<ul>
					<li><a href="#">1절</a></li>
				</ul>
			</article>
		</div>
	</div>	
		
	<div id="sidebar" th:insert="${submenu}">
		<h1>Home</h1>
		<ul>
			<li class="sub-heading">예제 소스</li>
			<li><a href="#">자바 웹 프로그래밍 2</a></li>
		</ul>
	</div>
		
	<div id="extra" th:replace="${reference}">
		<ul>
			<li class="sub-heading">관련 자료</li>
			<li><a href="#">Java</a></li>
		</ul>
	</div>

	<div id="footer">
		<ul>
			<li>Copyright java-school All Rights Reserved.</li>
		</ul>
	</div>
</div>
	
</body>
</html>
