<!DOCTYPE html>
<!--/* 1 title, 2 metas, 3 links, 4 scripts, 5 mainmenu, 6 i18n, 7 maintext, 8 submenu, 9 reference */-->
<html th:replace="~{layout/baseLayoutFile :: layout (~{::title}, ~{::meta}, ~{::link}, ~{}, ~{::nav}, ~{::div}, ~{::section}, ~{::aside}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:replace="~{articles/changePassword :: title}">비밀번호 변경</title>
<meta name="Keywords" th:replace="~{articles/changePassword :: meta[@name='Keywords']}" />
<meta name="Description" th:replace="~{articles/changePassword :: meta[@name='Description']}" />
<link rel="stylesheet" th:href="${#locale.language == 'ko'} ? @{/static/css/ko.css} : @{/static/css/en.css}" />
</head>
<body>

<nav th:replace="~{commons/mainmenu :: mainmenu}"></nav>

<div id="i18n"></div>

<section th:replace="~{articles/changePassword :: article}"></section>

<aside th:replace="~{users/menu :: index}"></aside>

</body>
</html>